<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="dismissModal()"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></ion-buttons>
    <ion-title class="ion-no-padding ion-text-capitalize" *ngIf="childDataTitle">{{childDataTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pages">
  
  <div class="contactdetails" *ngIf="cardType == 'detail1'">
   
    <p class="enquerylist" *ngFor="let column of childColumns; index as j">
      <span [ngClass]="column.class_name ? column.class_name  : ''">{{column.field_label}}</span>

      <strong [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number' || column.type == 'currency' || column.type == 'email' || column.type == 'text' || column.type == 'date' || column.type == 'datetime' || column.type == 'info'" [innerHTML]="getValueForGrid(column,childDataValue)" (click)="clickOnGridElement(column,childDataValue,j)"></strong>

      <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button' || column.type == 'iconbutton'" color="medium" fill="outline" size="small" [innerHTML]="getValueForGrid(column,childDataValue)"></ion-button>
    </p>
  </div>

</ion-content>
