.magrinPading {
    padding: 5px;
    width: 100%!important;
    border: 1px solid #5167c5;
    border-radius: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #181e3b;
}

.cardbox {
    width: 95%;
    border: 1px solid #cccccc;
    margin: 10px 0px 15px 0px;
    border-radius: 15px;
    background: url('/assets/005.png') no-repeat 100%;
}

.cardbox2 {
    width: 95%;
    border: 1px solid #cccccc;
    margin: 10px 0px 15px 0px;
    border-radius: 15px;
    background: url('/assets/003.png') no-repeat;
    padding-bottom: 40px;
}

.cardbox3 {
    width: 95%;
    border: 1px solid #cccccc;
    margin: 10px 0px 15px 0px;
    border-radius: 15px;
    background: url('/assets/004.png') no-repeat;
}

.cardbox4 {
    width: 95%;
    height: 200px;
    border: 1px solid #cccccc;
    margin: 10px 0px 15px 0px;
    padding: 15px;
    border-radius: 15px;
    background: url('/assets/Bg_17.png') repeat;
    background-size: contain;
}

.divsize {
    font-size: 14px!important;
    color: #000000;
}

.textright {
    text-align: right;
}

.h2Today {
    color: #ffffff!important;
    font-weight: bold;
    font-size: 18px!important;
}

.h2Total {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px!important;
    margin-top: 20px!important;
}

.top {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.divToday {
    color: #008000!important;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
    font-size: 14px;
}

.cardstyle {
    padding: 15px!important;
    margin: 10px 5px 10px 5px!important;
    background-color: #edeff9!important;
}

.maintop {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
}

.dummy {
    margin-top: 20px;
    font-style: italic;
    font-weight: bold;
}

.dummy1 {
    margin-bottom: 8px;
    font-style: italic;
    font-weight: bold;
}

.smallBox {
    background-color: #ff0000;
    color: white;
    padding: 10px;
    width: 60%;
    margin-left: 20%!important;
    border-radius: 10px;
}

.bg_01 {
    background-color: #ec5a82;
}

.bg_02 {
    background-color: #a675cc;
}

.bg_03 {
    background-color: #f49e8f;
}

.bg_04 {
    background-color: #71c39b;
}

.bg_05 {
    background-color: #8fd9db;
}

.bg_06 {
    background-color: #cb77e1;
}

.h4Today {
    color: #ffffff!important;
    font-weight: bold;
    font-size: 22px!important;
}

.h4Total {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px!important;
    margin-top: 18px!important;
}

:host {
     ::ng-deep.swiper-pagination-bullet {
        background: var(--ion-color-c2) !important;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #000;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
    }
     ::ng-deep.swiper-pagination-bullet-active {
        color: #fff;
        background: var(--ion-color-medium) !important;
    }
     ::ng-deep.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
        background: var(--ion-color-c5);
    }
    .menu {
        margin: 5px !important;
        border: 1px solid var(--ion-color-primary-shade);
        padding: 10px 8px 10px 8px;
    }
    ion-col:nth-child(odd) {
        ion-card {
            margin: 5px 0px 5px 8px;
        }
    }
    ion-col:nth-child(even) {
        ion-card {
            margin: 5px 8px 5px 0px;
        }
    }
    ion-thumbnail {
        width: 130px;
        height: 100%;
    }
}

.slide-img {
    padding: 8px !important;
    border-radius: 15px !important;
}