<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="/home"></ion-back-button></ion-buttons>
    <ion-title>
      Test Page
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-list>
    <ion-item *ngIf="files.length == 0"><ion-text>Select Camera Icon to capture & upload Image</ion-text></ion-item>
    <!-- <ion-item *ngIf="barcodes.length == 0"><ion-text>Select BarCode Icon to Scan Barcode</ion-text></ion-item> -->
    <!-- <ion-item *ngIf="barcodes.length == 0"><ion-text>Select Image Icon to Scan Barcode from Gallery</ion-text></ion-item> -->
  </ion-list>

  <ng-container *ngIf="(files && files.length > 0) || (selectedphotos && selectedphotos.length > 0)">
    <ion-list>
      <ion-item *ngFor="let img of files; let i = index;">
        <ion-thumbnail slot="start">
          <ion-img [src]="img.data"></ion-img>
        </ion-thumbnail>
        <ion-label>{{img.name}}</ion-label>
        <!-- <ion-button slot="end" fill="clear" (click)="startUpload(img)">
          <ion-icon slot="icon-only" name="cloud-upload" color=""></ion-icon>
        </ion-button> -->
        <ion-button slot="end" fill="clear" (click)="deleteSelectedImage(img)">
          <ion-icon slot="icon-only" name="trash-outline" color=""></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item *ngFor="let img of selectedphotos; let i = index;">
        <ion-thumbnail slot="start">
          <ion-img [src]="img"></ion-img>
        </ion-thumbnail>
        <ion-label>{{img.name}}</ion-label>
        <!-- <ion-button slot="end" fill="clear" (click)="startUpload(img)">
          <ion-icon slot="icon-only" name="cloud-upload" color=""></ion-icon>
        </ion-button> -->
        <ion-button slot="end" fill="clear" (click)="deleteSelectedImage(img)">
          <ion-icon slot="icon-only" name="trash-outline" color=""></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="images && images.length > 0">
    <ion-row>
      <ion-col
        size="6"
        *ngFor="let img of images; let i = index;"
        class="ion-text-center"
      >
        <ion-label>
          {{ img.name }}
          <p>{{ img.createdAt | date:'short' }}</p>
        </ion-label>
  
        <img [src]="img" />
        <ion-fab vertical="bottom" horizontal="end">
          <ion-fab-button
            color="danger"
            size="small"
            (click)="deleteImage(i)"
          >
            <ion-icon name="trash-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content>