/* Works - pass "my-custom-class" in cssClass to increase specificity */
.half-modal {
  .modal-wrapper {
    background: #dfe2f2;
  }
}
tr > td{
  padding: 3px 5px;
}
.colwidth_border{
  width: 40%;
  border-right: 1px solid;
}