.Home-Screen {
    width: 375px;
    height: 1163px;
    padding: 0 0 78px;
}

.Frame {
    width: 360px;
    height: 35px;
    margin: 0 0 5px;
    padding: 9px 24.4px 8px 17px;
    opacity: 0;
    background-color: #6e6e6e;
}

.Rectangle-98 {
    // height: 75px;
    margin: 0 0 8px;
    padding: 0 0 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 5%);
    background-color: #e30010;
}

.Gurgaon {
    // width: 79px;
    margin: 8px 6px 0 10px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    display: inline-block;
    color: #ffffff;
}

.header-icon {
    margin: 8px 0px 0 0px !important;
}

.title-icon {
    margin: 0px 0px -5px 1px;
}

.Path-229 {
    width: 8px;
    height: 4px;
    margin: 18.5px 153px 8.5px 7px;
    object-fit: contain;
    border: solid 1.5px #ffffff;
    background-color: #ffffff;
}

.Icon-open-menu {
    width: 20px;
    height: 17.4px;
    margin: 12.1px 19px 1.5px 16px;
    object-fit: contain;
    background-color: #ffffff;
}

.Rectangle-96 {
    // width: 343px;
    height: 41px;
    margin: 8px 4px 16px 0px;
    // padding: 11px 67px 12px 13.5px;
    border-radius: 20px;
    font-size: 12px;
    background-color: #f9f9f9;
}

.Path-244 {
    // width: 12px;
    // height: 12px;
    margin: 3.5px 12px 5.5px 15px;
    object-fit: contain;
    // background-color: #606060;
}

.Image-23 {
    // width: 342px;
    // height: 150px;
    // margin: 30px 9px 20px 16px;
    // padding: 134px 155px 10px 153px;
    border-radius: 10px;
}

.discount {
    width: 16.7px;
    height: 17px;
    margin: 9px 1.3px -6px 14px;
    object-fit: contain;
}

.Group-45 {
    width: 15px;
    height: 17.4px;
    margin: 11px 16px -5.4px 24.3px;
    object-fit: contain;
}

// .magrinPading {
//     padding: 5px;
//     width: 100%!important;
//     border: 1px solid #5167c5;
//     border-radius: 10px;
//     margin-bottom: 10px;
// }
// a {
//     text-decoration: none;
//     color: #181e3b;
// }
// .cardbox {
//     width: 95%;
//     border: 1px solid #cccccc;
//     margin: 10px 0px 15px 0px;
//     border-radius: 15px;
//     background: url('/assets/005.png') no-repeat 100%;
// }
// .cardbox2 {
//     width: 95%;
//     border: 1px solid #cccccc;
//     margin: 10px 0px 15px 0px;
//     border-radius: 15px;
//     background: url('/assets/003.png') no-repeat;
//     padding-bottom: 40px;
// }
// .cardbox3 {
//     width: 95%;
//     border: 1px solid #cccccc;
//     margin: 10px 0px 15px 0px;
//     border-radius: 15px;
//     background: url('/assets/004.png') no-repeat;
// }
// .cardbox4 {
//     width: 95%;
//     height: 200px;
//     border: 1px solid #cccccc;
//     margin: 10px 0px 15px 0px;
//     padding: 15px;
//     border-radius: 15px;
//     background: url('/assets/Bg_17.png') repeat;
//     background-size: contain;
// }
// .divsize {
//     font-size: 14px!important;
//     color: #000000;
// }
// .textright {
//     text-align: right;
// }
// .h2Today {
//     color: #ffffff!important;
//     font-weight: bold;
//     font-size: 18px!important;
// }
// .h2Total {
//     color: #ffffff;
//     font-weight: bold;
//     font-size: 18px!important;
//     margin-top: 20px!important;
// }
// .top {
//     color: black;
//     font-size: 20px;
//     font-weight: bold;
// }
// .divToday {
//     color: #008000!important;
//     font-weight: bold;
//     margin: 5px 0px 5px 0px;
//     font-size: 14px;
// }
// .cardstyle {
//     padding: 15px!important;
//     margin: 10px 5px 10px 5px!important;
//     background-color: #edeff9!important;
// }
// .maintop {
//     margin-top: 20px;
//     font-size: 22px;
//     font-weight: bold;
// }
// .dummy {
//     margin-top: 20px;
//     font-style: italic;
//     font-weight: bold;
// }
// .dummy1 {
//     margin-bottom: 8px;
//     font-style: italic;
//     font-weight: bold;
// }
// .smallBox {
//     background-color: #ff0000;
//     color: white;
//     padding: 10px;
//     width: 60%;
//     margin-left: 20%!important;
//     border-radius: 10px;
// }
// .bg_01 {
//     background-color: #ec5a82;
// }
// .bg_02 {
//     background-color: #a675cc;
// }
// .bg_03 {
//     background-color: #f49e8f;
// }
// .bg_04 {
//     background-color: #71c39b;
// }
// .bg_05 {
//     background-color: #8fd9db;
// }
// .bg_06 {
//     background-color: #cb77e1;
// }
// .h4Today {
//     color: #ffffff!important;
//     font-weight: bold;
//     font-size: 22px!important;
// }
// .h4Total {
//     color: #ffffff;
//     font-weight: bold;
//     font-size: 18px!important;
//     margin-top: 18px!important;
// }
// :host {
//      ::ng-deep.swiper-pagination-bullet {
//         background: var(--ion-color-dark-contrast) !important;
//         width: 20px;
//         height: 20px;
//         text-align: center;
//         line-height: 20px;
//         font-size: 12px;
//         color: #000;
//         opacity: 1;
//         background: rgba(0, 0, 0, 0.2);
//     }
//      ::ng-deep.swiper-pagination-bullet-active {
//         color: #fff;
//         background: #007aff !important;
//     }
//      ::ng-deep.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
//         background: var(--ion-color-medium-tint);
//     }
//     .menu {
//         margin: 5px !important;
//         border: 1px solid var(--ion-color-primary-shade);
//         padding: 10px 8px 10px 8px;
//     }
//     ion-col:nth-child(odd) {
//         ion-card {
//             margin: 5px 0px 5px 8px;
//         }
//     }
//     ion-col:nth-child(even) {
//         ion-card {
//             margin: 5px 8px 5px 0px;
//         }
//     }
//     ion-thumbnail {
//         width: 130px;
//         height: 100%;
//     }
// }
// .img-icon {
//     height: 50px;
// }
// .title-padding {
//     padding-inline: 0;
// }
ion-content {
    --padding-end: 15px;
    --padding-start: 15px;
}

.Rectangle-119 {
    height: 101px;
    margin: 10px 0px 10px 0px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgb(208 44 36 / 20%);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.decay {
    width: 35px;
    height: 35px;
    margin: 0 0px 12px 2px;
    object-fit: contain;
}

.Dental {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #e30010;
}

.slide {
    width: 100px !important;
}

.card-img {
    // width: 75px;
    height: 90px;
    // margin: 0px 35px 0px 35px;
    object-fit: contain;
}

.slide-card-icon {
    margin-left: 66px;
}