<!-- <div class="Home-Screen">

    <div class="Rectangle-98">
        <img src="img/icon-open-menu.svg" class="Icon-open-menu">
    </div>

</div> -->

<ion-header>
    <ion-toolbar class="Rectangle-98">
        <ion-buttons slot="start">
            <!-- <ion-button (click)="addAddress()"> -->
            <!-- <ion-icon slot="icon-only" class="header-icon" name="menu-sharp"></ion-icon> -->
            <ion-menu-button class="header-icon"></ion-menu-button>
            <!-- </ion-button> -->
        </ion-buttons>
        <ion-buttons slot="end" [routerLink]="['/tab/cart-items']">
            <ion-icon name="cart-outline" class="cart-icon " size="large" slot="icon-only"></ion-icon>
            <ion-badge class="cart-badge" *ngIf="cart_count && cart_count>0">{{cart_count}}</ion-badge>
            <!-- <div><img class="discount" src="assets/newdesign/discount.svg"></div>
            <div><img class="Group-45" src="assets/newdesign/Group 45.svg"></div> -->
        </ion-buttons>
        <!-- <ion-title (click)="addAddress()" size="small" class="Gurgaon"> -->
        <div class="ion-text-wrap Gurgaon" (click)="addAddress()">
            {{currentLocation?.address}}
            <ion-icon slot="icon-only" class="title-icon" name="chevron-down-sharp"></ion-icon>
        </div>

        <!-- </ion-title> -->

        <!-- <img src="assets/newdesign/Path 229.svg" />
        <img src="assets/newdesign/discount.svg" class="discount" />
        <img src="assets/newdesign/Group 45.svg" class="Group-45" /> -->
    </ion-toolbar>

</ion-header>

<ion-content class="content-padding">
    <ion-row>
        <ion-col size="12">
            <ion-input type="text" class="Rectangle-96" (click)="openSearch()" placeholder="Search for Medicines, Products & Doctors">
                <ion-icon slot="icon-only" class="Path-244" name="search"></ion-icon>
            </ion-input>
        </ion-col>
    </ion-row>

    <ion-slides pager="true" [options]="slideOpts1">
        <ion-slide *ngFor="let item of list">
            <img class="Image-23" [src]="item">
        </ion-slide>
    </ion-slides>
    <ion-row>
        <ion-col size="8">
            <span class="Shop-By-Category"> Shop By Category</span>
        </ion-col>
        <!-- <ion-col size="4" [routerLink]="['/cat']">
            <ion-button size="small" class="view-all-button" shape="round" fill="outline">View All</ion-button>
        </ion-col> -->
    </ion-row>
    <ion-row>
        <ion-col size="3">
            <div class="Rectangle-119" [routerLink]="['/cat']">
                <img src="assets/newdesign/decay.png" class="decay">
                <span class="Dental">Dental</span>
            </div>
        </ion-col>
        <ion-col size="3">
            <div class="Rectangle-119" [routerLink]="['/cat']">
                <img src="assets/newdesign/brain (1).png" class="decay">
                <span class="Dental">Brain</span>
            </div>
        </ion-col>
        <ion-col size="3">
            <div class="Rectangle-119" [routerLink]="['/cat']">
                <img src="assets/newdesign/Group 132@2x.png" class="decay">
                <span class="Dental">Stomach</span>
            </div>
        </ion-col>
        <ion-col size="3">
            <div class="Rectangle-119" [routerLink]="['/cat']">
                <img src="assets/newdesign/outline@2x.png" class="decay">
                <span class="Dental">Joint</span>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="8">
            <span class="Shop-By-Category"> Trending Now</span>
        </ion-col>
    </ion-row>
    <ion-slides [options]="slideOptsTwo">
        <ion-slide [routerLink]="['/cat']">
            <img class="Image-23" src="assets/newdesign/Image 15@2x.png">
        </ion-slide>
        <ion-slide [routerLink]="['/cat']">
            <img class="Image-23" src="assets/newdesign/Image 16@2x.png">
        </ion-slide>
        <ion-slide [routerLink]="['/cat']">
            <img class="Image-23" src="assets/newdesign/Image 17@2x.png">
        </ion-slide>

    </ion-slides>
    <!-- <ion-row>
        <ion-col size="8">
            <span class="Shop-By-Category"> Top Selling Product</span>
        </ion-col>
    </ion-row>
    <ion-slides [options]="slideOptsTwo">
        <ion-slide>
            <div class="slide-card">
                <ion-row>
                    <ion-col size="12">
                        <ion-icon name="heart-outline" class="ion-float-right"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <img src="assets/newdesign/Image 13@2x.png" class="card-img">
                    </ion-col>
                    <ion-col size="12" class="ion-no-padding">
                        <ion-label class="card-product-name">Mensome Onion Hair Shampoo</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6" class="ion-no-padding">
                        <ion-text class="ion-text-start product-price text-line"> &#8377; 1899 </ion-text>
                    </ion-col>
                    <ion-col size="6" class="ion-no-padding">
                        <ion-text class="ion-text-end discount"> 30% Off </ion-text>
                    </ion-col>
                    <ion-col size="6" class="ion-no-padding">
                        <ion-text class="ion-text-start product-price"> <strong>&#8377; 1590 </strong></ion-text>
                    </ion-col>
                    <ion-col size="6" class="ion-no-padding"></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="12">
                        <ion-button expand="block" color="medium" shape="round" class="add-cart-btn ion-text-capitalize">Add to Cart</ion-button>
                    </ion-col>
                </ion-row>
            </div>

        </ion-slide>
        <ion-slide>
            <div class="slide-card">
                <ion-row>
                    <ion-col size="12">
                        <ion-icon name="heart-outline" class="ion-float-right"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <img src="assets/newdesign/NoPath - Copy (5)@2x.png" class="card-img">
                    </ion-col>
                    <ion-col size="12" class="ion-no-padding">
                        <ion-label class="card-product-name">Mensome Onion Hair Shampoo</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6" class="ion-no-padding">
                        <ion-text class="ion-text-start product-price text-line"> &#8377; 1899 </ion-text>
                    </ion-col>
                    <ion-col size="6" class="ion-no-padding">
                        <ion-text class="ion-text-end discount"> 30% Off </ion-text>
                    </ion-col>
                    <ion-col size="6" class="ion-no-padding">
                        <ion-text class="ion-text-start product-price"> <strong>&#8377; 1590 </strong></ion-text>
                    </ion-col>
                    <ion-col size="6" class="ion-no-padding"></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="12">
                        <ion-button expand="block" color="medium" shape="round" class="add-cart-btn ion-text-capitalize">Add to Cart</ion-button>
                    </ion-col>
                </ion-row>

            </div>
        </ion-slide>


    </ion-slides> -->

    <ion-row>
        <ion-col size="8">
            <span class="Shop-By-Category"> Popular Health Checkup</span>
        </ion-col>
        <ion-col size="4">
            <ion-button size="small" class="view-all-button" shape="round" [routerLink]="['/cat']" fill="outline">View All</ion-button>
        </ion-col>
    </ion-row>

    <ion-slides [options]="slideOptsTwo">
        <ion-slide class="slide">
            <div class="Rectangle-119 slide">
                <img src="assets/newdesign/Page-1@2x.png" class="decay">
                <span class="Dental">Healthy Men</span>
            </div>
        </ion-slide>
        <ion-slide class="slide">
            <div class="Rectangle-119">
                <img src="assets/newdesign/woman@2x.png" class="decay">
                <span class="Dental">Women Health</span>
            </div>
        </ion-slide>
        <ion-slide class="slide">
            <div class="Rectangle-119">
                <img src="assets/newdesign/blood-test@2x.png" class="decay">
                <span class="Dental">Stomach</span>

            </div>
        </ion-slide>

    </ion-slides>
    <!-- <ion-col size="4">
            <div class="Rectangle-119">
                <img src="assets/newdesign/Page-1@2x.png" class="decay">
                <span class="Dental">Healthy Men</span>
            </div>
        </ion-col>
        <ion-col size="4">
            <div class="Rectangle-119">
                <img src="assets/newdesign/woman@2x.png" class="decay">
                <span class="Dental">Women Health</span>
            </div>
        </ion-col>
        <ion-col size="4">
            <div class="Rectangle-119">
                <img src="assets/newdesign/blood-test@2x.png" class="decay">
                <span class="Dental">Stomach</span>
            </div>
        </ion-col> -->



    <!-- <ion-row>
        <ion-col size="4" *ngFor="let item of mList">
            <ion-card class="ion-text-center menu transparent" (click)="goToPage('/item-search')">
                <img [src]="item.imgPath" class="img-icon">
                <p class="ion-no-margin">{{item.name}}</p>
            </ion-card>
        </ion-col>
    </ion-row> -->

    <!-- <ion-grid>
        <ion-row class="ion-text-center" *ngIf="appModules &&  appModules.length>0">
            <ion-col size="4" *ngFor="let module of appModules">
               
                <div class="magrinPading " (click)="goToPage(module)">
                    <a><img src="{{module.imgPath}}" height="80px" /></a>

                </div>
                <ion-lable>
                    <a>{{module.title}}</a></ion-lable>
            </ion-col>
          
        </ion-row>
        <ion-row *ngIf="appModules &&  appModules.length<1">
            <ion-col size="12">
                <ion-card>
                    <ion-card-header>
                        You don't have Permissions. Please contact admin.
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid> -->
    <!-- <button ion-button color="secondary" (click)="getCallLogs() ">Secondary</button> -->
</ion-content>