.divsize {
    font-size: 12px!important;
    border: 1px solid #dce0f3;
    margin-top: 10px;
    border-radius: 5px;
    color: #303d76;
}

.nameFont {
    font-size: 14px!important;
}

.titleP {
    padding-left: 30px!important;
    padding-right: 20px!important;
}