<ion-header>
    <ion-toolbar>
        <ion-title class="titleP">{{modalData.name}} </ion-title>
        <ion-button (click)="_dismiss()" slot="end">
            <ion-icon name="close"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <div class="divsize" *ngFor="let data of callHistory">
            <ion-row class="row-padding">

                <ion-col size="8">
                    <ion-label>{{modalData.phone}}</ion-label>
                </ion-col>
                <ion-col size="4">
                    <ion-label class="ion-text-end">{{data.duration}}</ion-label>
                </ion-col>
                <ion-col size="8">
                    <ion-label>{{data.date | date:'dd-MMM-yy HH:mm'}}</ion-label>
                </ion-col>

            </ion-row>
        </div>
        <ion-row *ngIf="callHistory &&  callHistory.length<1">
            <ion-card>
                <ion-card-header>
                    Call History Not Found!!!.
                </ion-card-header>
            </ion-card>
        </ion-row>
    </ion-grid>

</ion-content>

<ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-row class="ion-text-center">
            <ion-col size="3"></ion-col>

            <ion-col size="6">
                <ion-label *ngIf="callHistory &&  callHistory.length<1" (click)="saveCallLogs(modalData)" class="ion-text-center"> Save Call History </ion-label>
            </ion-col>
            <ion-col size="3"></ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>