<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="contact"></ion-back-button></ion-buttons>
    <ion-title class="ion-no-padding ion-text-uppercase">crm</ion-title>
    <ion-buttons slot="end"><ion-icon name="search"></ion-icon></ion-buttons>
    <ion-buttons slot="end" class="ion-padding-start"><ion-icon name="notifications-outline"></ion-icon></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs class="innerpagetabs">
  <ion-tab-bar slot="top">
      <ion-tab-button [routerLink]="['/crm/contact']"><ion-label>Contact</ion-label> </ion-tab-button>
      <ion-tab-button class="activetab"><ion-label>Enquiry Master</ion-label></ion-tab-button>
      <ion-tab-button routerLink="/crm/quotation"><ion-label>Quotation</ion-label></ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-content class="pages">
  <div class="useritems">
    <div class="enquirylist" *ngFor="let data of enquirydata" routerLink="../enquiry-details">
      <ion-label>
        <h5>{{data.enquiry}}</h5>
        <p><small>{{data.location}}</small></p>
        <strong><small>Sample - Urea</small></strong>
      </ion-label>
      <ion-label slot="end" class="endlabel">
        <h6>{{data.enqno}}</h6>
        <p><small>NOV 11</small></p>
        <a href="#">Regret</a>
      </ion-label>
    </div>
  </div>
  <div class="addmore" routerLink="../add-enquiry"><ion-icon name="add-outline"></ion-icon> ADD</div>
</ion-content>
