<ion-header class="ion-no-border">
    <ion-toolbar class="Rectangle-98 ion-no-margin">
        <ion-buttons slot="start">
            <!-- <ion-button (click)="addAddress()"> -->
            <ion-icon slot="icon-only" size="large" class="header-icon" (click)="goToHome()" name="chevron-back-sharp"></ion-icon>
            <!-- </ion-button> -->
        </ion-buttons>

        <!-- <ion-title (click)="addAddress()" size="small" class="Gurgaon"> -->
        <div class="ion-text-wrap header-title">
            FAQ
        </div>

        <!-- </ion-title> -->

        <!-- <img src="assets/newdesign/Path 229.svg" />
    <img src="assets/newdesign/discount.svg" class="discount" />
    <img src="assets/newdesign/Group 45.svg" class="Group-45" /> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="top-row-bg ">
        <ion-col size="12">
            <ion-text><b>Need Help ?</b></ion-text>
        </ion-col>

        <ion-col size="8">
            <ion-note>Call us at our toll free number</ion-note>
        </ion-col>
        <ion-col size="4" class="ion-text-end">
            <ion-note color="success">9876543210</ion-note>
        </ion-col>
    </ion-row>

    <ion-list class="ion-margin-top">
        <ion-item>
            <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
            <ion-note>
                How do I order medicines on Apollo Pharmacy using an e-prescription/physical prescription?
            </ion-note>
        </ion-item>
        <ion-item>
            <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
            <ion-note>
                Can I order medicines without a prescription?
            </ion-note>
        </ion-item>
        <ion-item>
            <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
            <ion-note>
                Will I get an invoice if I order medicines on Apollo Pharmacy?
            </ion-note>
        </ion-item>
        <ion-item>
            <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
            <ion-note>
                How do I cancel my medicine order?
            </ion-note>
        </ion-item>
    </ion-list>

</ion-content>