<ion-content class="loginpage">
  <div class="logintitle"><h4>Verify Mobile Number</h4></div>
  <div class="loginlogo">
    <ion-img src="{{logoPath}}" alt="{{imageTitle}}" (ionError)="getLogoPath()"></ion-img>
  </div>
  <div class="login">
      <form [formGroup]="OtpVarify">
        <div class="formgroup">
            <ion-item>
                <ion-label position="floating">Your Registered Mobile Number</ion-label>
                <ion-input type="number" readonly placeholder="" formControlName="username"></ion-input>
            </ion-item>
            <div *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)" class="alert">
                <div *ngIf="f.username.errors.required" class="warning">Mobile no. is required.</div>
            </div>
        </div>
        <div class="formgroup">
          <ion-item>
              <ion-label position="floating">Verification Code</ion-label>
              <ion-input type="number"  placeholder="Enter OTP"  formControlName="verifyCode"></ion-input>
          </ion-item>
          <div *ngIf="f.verifyCode.invalid && (f.verifyCode.dirty || f.verifyCode.touched)" class="alert">
              <div *ngIf="f.verifyCode.errors.required" class="warning">OTP is required.</div>
          </div>
          <!-- <p position="floating" (click)="resendCode()" style="margin-top: 12px;">Resend Verification Code?</p> -->
        </div>
        <div class="formgroup">
          <ion-button type="submit" [disabled]="!OtpVarify.valid" (click)="onVerifyAccWithOtp()" expand="full">Verify<ion-icon name="arrow-forward"></ion-icon></ion-button>
        </div>
      </form>
  </div>
  </ion-content>