<ion-header>
    <ion-toolbar  class="grey-toolbar">
      <ion-buttons slot="start"><ion-back-button class="ion-text-capitalize back-button-text" text=""></ion-back-button></ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="loginpage forgotpwd">
  <div *ngIf="resetPwd">
    <div class="loginlogo"><img  src="assets/img/icons/forget-password.svg"></div>
    <div class="logintitle" >
      <h4>Forgot password?</h4>
      <p>Don't worry! It happens. Please enter the <ion-text *ngIf="!VerifyType">E-mail address</ion-text><ion-text *ngIf="VerifyType">Mobile Number</ion-text> associated with your account.</p>
    </div>
  </div>
  <div class="logintitle" *ngIf="!resetPwd && !VerifyType">
    <h4>OTP verification</h4>
    <p>Enter your OTP send to your mail, Check your mail</p>
  </div>
  <!-- <div class="loginlogo"> <img src="../../../assets/medicea_img/signinlogo.jpeg"></div> -->
  <div class="login forgotpwd">
      <form *ngIf="resetPwd" [formGroup]="fForm">
        <div class="formgroup" *ngIf="!VerifyType">
          <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input type="email" formControlName="userId" placeholder="Enter Registered E-mail Id"></ion-input>
            <ion-icon  class="showicon" src="assets/img/icons/Icon-check-circle.svg" *ngIf="f.userId.valid"></ion-icon>
            <ion-note slot="error" class="text-danger" *ngIf="f.userId.invalid && (f.userId.dirty || f.userId.touched) && f.userId.errors?.required">Email Id is required</ion-note>
            <ion-note slot="error" class="text-danger" *ngIf="f.userId.invalid && (f.userId.dirty || f.userId.touched) && f.userId.errors?.email">Invalid Email</ion-note>
          </ion-item>
        </div>
        <div class="formgroup" *ngIf="VerifyType">
          <ion-item counter="true">
            <ion-label position="floating">Mobile Number</ion-label>
            <ion-input type="number" placeholder="Enter Registered Mobile no." formControlName="userId" maxlength="10"></ion-input>
            <ion-note slot="error" class="text-danger" *ngIf="f.userId.invalid && (f.userId.dirty || f.userId.touched) && f.userId.errors?.required">Mobile Number is required</ion-note>
            <ion-note slot="error" class="text-danger" *ngIf="f.userId.invalid && (f.userId.dirty || f.userId.touched) && f.userId.errors?.pattern">Enter Valid Mobile Number</ion-note>
            <ion-note slot="error" class="text-danger" *ngIf="f.userId.invalid && (f.userId.dirty || f.userId.touched) && f.userId.errors?.maxLength">Number not more than 10 digit</ion-note>
            <ion-note slot="error" class="text-danger" *ngIf="f.userId.invalid && (f.userId.dirty || f.userId.touched) && f.userId.errors?.minLength">Enter 10 digit Mobile Number</ion-note>
          </ion-item>
        </div>
        <div class="formgroup">
          <ion-button type="submit" [disabled]="!fForm.valid" (click)="onResetPwd()" expand="full">Reset Password</ion-button>
        </div>
      </form>
      <form *ngIf="!resetPwd" class="registration-form" [formGroup]="vForm">
        <div>
          <ion-button (click)="gobackandreset()" expand="full" shape="round">Edit Email Id 
          <ion-icon name="pencil-outline" slot="start"></ion-icon>
          </ion-button>
        </div>
        <div class="formgroup">
          <ion-item>
            <ion-label position="floating">VERIFICATION CODE</ion-label>
            <ion-input type="number"  placeholder=""  formControlName="verifyCode"></ion-input>
            <ion-note slot="error" class="text-danger" *ngIf="r.verifyCode.invalid && (r.verifyCode.dirty || r.verifyCode.touched) && r.verifyCode.errors?.required">OTP is required</ion-note>
          </ion-item>
          <p position="floating" (click)="resendCode()" style="margin-top: 12px;">Resend Verification Code?</p>
        </div>
        <div class="formgroup">
          <ion-item>
            <ion-label position="floating">NEW PASSWORD</ion-label>
            <ion-input [type]="newpassword ? 'text': 'password'"  placeholder="" formControlName="password"></ion-input>
            <ion-icon [name]="newpassword ? 'eye' : 'eye-off' " class="showpassword" (click)="shownewpass()"></ion-icon>
            <ion-note slot="error" class="text-danger" *ngIf="r.password.invalid && (r.password.dirty || r.password.touched) && r.password.errors?.required">Password is required</ion-note>
          </ion-item>
        </div>
        <div class="formgroup">
          <ion-item>
            <ion-label position="floating">CONFIRM PASSWORD</ion-label>
            <ion-input [type]="confirmpassword ? 'text': 'password'" formControlName="confpwd" placeholder="" (ionChange)="passwordmismatch()"></ion-input>
            <ion-icon [name]="confirmpassword ? 'eye' : 'eye-off' " class="showpassword" (click)="showconfirmpass()"></ion-icon>
            <ion-note slot="error" class="text-danger" *ngIf="r.confpwd.invalid && (r.confpwd.dirty || r.confpwd.touched) && r.confpwd.errors?.required">Confirm Password is required</ion-note>
            <ion-note slot="error" class="text-danger" *ngIf="r.confpwd.invalid && (r.confpwd.dirty || r.confpwd.touched) && r.confpwd.errors?.invalid">Confirm password do not match</ion-note>
          </ion-item>
        </div>
        <div class="formgroup">
          <ion-button type="submit" [disabled]="!vForm.valid" (click)="onVerifyPwd()" expand="full">Save New Password</ion-button>
        </div>
      </form>
      <div class="row mt-2 text-muted">
        <div class="col-lg-12">
          <ion-text class="signup ion-text-center">Already have account? <a [routerLink]="['/auth/signine']"><b> Log In</b></a></ion-text>
        </div>
      </div>
  </div>
</ion-content>