<ion-content class="loginpage">
  <div class="logintitle"><h4>Forgot password</h4></div>
  <div class="login">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="formgroup">
              <ion-item>
                  <ion-label position="floating">Mobile Number/Email</ion-label>
                  <ion-input type="email" formControlName="email" placeholder="Email Id"></ion-input>
              </ion-item>
              <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="alert">
                  <div *ngIf="f.email.errors.required" class="warning">Email Id is required.</div>
                  <div *ngIf="f.email.errors?.email" class="warning">Enter Valid Email Id.</div>
              </div>
          </div>
          <div class="formgroup"><ion-button type="submit" [disabled]="checkValidate()" expand="full">SUMBIT <ion-icon name="arrow-forward"></ion-icon></ion-button></div>
      </form>
  </div>
</ion-content>