<ion-content class="loginpage">
    <div class="logintitle">
        <h4>Welcome</h4>
        <p>Sign-In to continue</p>   
    </div>
    <!-- <div class="loginlogo"> <img src="../../../assets/medicea_img/signinlogo.jpeg"></div> -->
    <div class="login">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="formgroup" *ngIf="!VerifyType">
                <ion-item>
                    <ion-label position="floating">Mobile Number/Email</ion-label>
                    <ion-input type="email" formControlName="userId" placeholder="Email Id"></ion-input>
                </ion-item>
                <div *ngIf="f.userId.invalid && (f.userId.dirty || f.userId.touched)" class="alert">
                    <div *ngIf="f.userId.errors.required" class="warning">Email Id is required.</div>
                    <div *ngIf="f.userId.errors?.email" class="warning">Enter Valid Email Id.</div>
                </div>
            </div>
            <div class="formgroup" *ngIf="VerifyType">
                <ion-item>
                    <ion-label position="floating">Mobile Number</ion-label>
                    <ion-input type="number" formControlName="userId" placeholder="Mobile Number"></ion-input>
                </ion-item>
                <div *ngIf="f.userId.invalid && (f.userId.dirty || f.userId.touched)" class="alert">
                    <div *ngIf="f.userId.errors.required" class="warning">Mobile Number is required.</div>
                    <div *ngIf="f.userId.errors.pattern" class="warning">Enter Valid Mobile Number.</div>
                    <div *ngIf="f.userId.errors.maxLength" class="warning">Mobile Number not more than 10 digit.</div>
                    <div *ngIf="f.userId.errors.minLength" class="warning">Enter 10 digit Mobile Number.</div>
                </div>
            </div>
            <div class="formgroup">
                <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input [type]="showpassword ? 'text': 'password'" formControlName="password" placeholder="Password"></ion-input>
                    <ion-icon [name]="showpassword ? 'eye': 'eye-off' " class="showpassword" (click)="showtxtpass()"></ion-icon>
                </ion-item>
                <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="alert">
                    <div *ngIf="f.password.errors.required" class="warning">Password Id is required.</div>
                </div>
            </div>
            <!-- <div class="formgroup ion-text-end"><ion-text class="forgetpassword" [routerLink]="['/auth/forgetpassword']" >Forgot Password?</ion-text></div> -->
            <div class="formgroup ion-text-end"><ion-text class="forgetpassword" [routerLink]="['/auth/forgetpassword']">Forgot Password?</ion-text></div>
            <div class="formgroup"><ion-button type="submit" [disabled]="checkValidate()" expand="full">Login <ion-icon name="arrow-forward"></ion-icon></ion-button></div>
            <div class="formgroup ion-text-center"><ion-text class="signup" [routerLink]="['/auth/signupe']">Don't have an account ? <strong>Sign-up</strong></ion-text></div>
            <!-- <div class="signinwith ion-padding-vertical"><span><i>Or sign-in with</i></span></div>
            <p class="ion-text-center mail-icon"><img src="assets/icon/gmail.png"></p> -->
        </form>
    </div>
</ion-content>