<ion-header>
  <ion-toolbar>
    <!--  <ion-title class="titleP">{{modalData.billing_company}}</ion-title> -->
    <ion-button (click)="closeModal()" slot="end">
      <ion-icon name="close"></ion-icon> 
    </ion-button>
   
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-grid>
    <div class="divsize">
      <ion-row>
        <ion-col size="8"><ion-label>{{modalData.altname}}</ion-label></ion-col>
        <ion-col size="4" class="ion-text-end nameFont"><ion-label>{{modalData.net_amount}}</ion-label> </ion-col>
        <ion-col size="6"><ion-label>{{modalData.createdByName}}</ion-label></ion-col>
        <ion-col size="6" class="ion-text-end"><ion-label>{{modalData.createdBy}}</ion-label></ion-col>
        <ion-col size="6"><ion-label>{{modalData.createdDate }}</ion-label></ion-col>
        <ion-col size="6">
      </ion-col>
      </ion-row>
      
    </div>
  </ion-grid>
  
</ion-content>

