<!-- <ion-header>
    <ion-toolbar>
        <a routerLink="/leads" slot="start">
            <ion-icon name="chevron-back-outline" size="large"></ion-icon>
        </a>

        <ion-title class="ion-text-center">Reminder</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <!-- <ion-grid class="ion-no-padding">
        <ion-row class="row-padding">
            <ion-col size="6">
                <ion-button expand="block" color="medium" expand="full">Status</ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button expand="block" (click)="openModal(lead)" color="medium" expand="full">Reminder</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid> -->
    <ion-grid>

        <div *ngFor="let data of reminders">
            <ion-card>
                <ion-item-sliding>
                    <ion-item>
                        <ion-row class="row-padding">
                            <ion-col size="7">
                                <ion-label class="nameFont"><strong>{{data.name | titlecase}}</strong></ion-label>
                            </ion-col>
                            <ion-col size="5" class="ion-text-end">
                                <ion-label class="nameFont">{{data.date | date:'dd-MMM-yy HH:mm'}}</ion-label>
                            </ion-col>
                            <ion-col size="7" class=" nameFont">
                                <ion-label>{{data.phone }}
                                </ion-label>
                            </ion-col>
                            <ion-col size="5" class="ion-no-margin ion-no-padding ion-text-end">
                                <ion-button size="small " color="medium " class="call-btn " (click)="call(data); $event.stopPropagation(); ">click to call</ion-button>
                            </ion-col>
                            <!-- <ion-col size="3 " class=" nameFont ">
                        <ion-icon name="call " class="icon-size " (click)="call(data); $event.stopPropagation(); "></ion-icon>
                    </ion-col> -->

                        </ion-row>

                    </ion-item>
                    <ion-item-options side="end">
                        <ion-item-option color="medium" (click)="updateReminder(data); $event.stopPropagation();">Remove</ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-card>
        </div>

        <!-- <ion-row *ngIf="lead.callHistory && lead.callHistory.length<1 ">
            <ion-card>
                <ion-card-header>
                    Call History Not Found!!!.
                </ion-card-header>
            </ion-card>
        </ion-row> -->
    </ion-grid>
</ion-content>