
<div class="pages" *ngIf="formName == 'default'">
    <ion-segment class="grid_selection_tab" ngDefaultControl [(ngModel)]="selectedTab" color="appcolor" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="new" >
            <ion-label>All</ion-label>
        </ion-segment-button>
        <ion-segment-button value="added" *ngIf="!rejectedCustomers">
            <ion-label>Selected</ion-label>
        </ion-segment-button>
    </ion-segment>

    <div *ngIf="selectedTab == 'new'">
        <div class="app-grid_selection ion-margin-start ion-margin-end" *ngFor="let data of gridData; let i = index">
            <ion-list class="contactlist">

                <ion-item class="contactlist ion-no-margin" lines="none" (click)="addremoveparticipant(data,i)">
                    <ion-avatar slot="start" class="ion-text-uppercase"><span *ngIf="getName(data) != ''" [innerHTML]="getFirstCharOfString(getName(data))"></span></ion-avatar>
                    
                    <ion-row class="ion-align-items-center inner_padding" >
                        <ion-col size="12" >
                            <div>
                                <ion-item lines="none" class="">
                                    <ion-label  class="value">{{getName(data)}}</ion-label>
                                </ion-item>
                            </div>          
                        </ion-col> 
                    </ion-row>
                    <ion-buttons slot="end" class="ion-margin-start">
                        <ion-checkbox checked="true" color="appcolor" class="left icon ion-hide" name="" (click)="$event.stopPropagation()" (ionChange)="$event ? toggle(data, $event, i) : null" [checked]="data.selected" [indeterminate]="data.selected" ></ion-checkbox>
                        </ion-buttons>
                </ion-item>
            </ion-list>
        </div>        
    </div>

    <div *ngIf="selectedTab == 'added'" >
        <div class="app-grid_selection ion-margin-start ion-margin-end" *ngFor="let data of selectedData; let i = index">
            <ion-item-sliding>
                <ion-item class="contactlist ion-no-margin" lines="none" (click)="addremoveparticipant(data,i)">
                    <ion-avatar slot="start" class="ion-text-uppercase"><span *ngIf="getName(data)" [innerHTML]="getFirstCharOfString(getName(data))"></span></ion-avatar>
                    <ion-row class="ion-align-items-center inner_padding" >
                        <ion-col size="12" >
                            <div>
                                <ion-item lines="none" class="">
                                    <ion-label  class="value">{{getName(data)}}</ion-label>
                                </ion-item>
                            </div>          
                        </ion-col>  
                    </ion-row>
                    
                    <ion-buttons slot="end" class="ion-margin-start">
                        <ion-checkbox checked="true" color="appcolor" class="left icon ion-hide" name="" (click)="$event.stopPropagation()" (ionChange)="$event ? toggle(data, $event, i) : null" [checked]="data.selected" [indeterminate]="data.selected"></ion-checkbox>
                    </ion-buttons>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option color="danger" class="card-border-radius" expandable (click)="delete(i)" [disabled]="isDisable(field,data)">
                    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </div> 
    </div>
     
</div>






