<div class="pages" *ngIf="formName == 'default'">
    <ion-segment class="grid_selection_tab" ngDefaultControl [(ngModel)]="selectedTab" color="appcolor">
        <ion-segment-button value="new"><ion-label>All</ion-label></ion-segment-button>
        <ion-segment-button value="added"><ion-label>Selected</ion-label></ion-segment-button>
    </ion-segment>

    <div *ngIf="selectedTab == 'new'">
        <div *ngFor="let data of gridData; let i = index" class="contactlist" style="margin:0">
            <ion-item-sliding>
                <ion-list>
                    <ion-item lines="none">
                        <ion-avatar slot="start" class="ion-text-uppercase"><span *ngIf="getName(data) != ''" [innerHTML]="getFirstCharOfString(getName(data))"></span></ion-avatar>
                        <ion-label class="ion-text-wrap" (click)="addremoveparticipant(data,i)">
                            <ion-text>{{getName(data)}}</ion-text>
                        </ion-label>
                        <ion-buttons slot="end"><ion-checkbox checked="true" color="appcolor" class="left icon" name="" (click)="$event.stopPropagation()" (ionChange)="$event ? toggle(data, $event, i) : null" [checked]="data.selected" [disabled]="isDisable(field,data)" ></ion-checkbox></ion-buttons>
                    </ion-item>
                </ion-list>
            </ion-item-sliding>
        </div>
    </div>

    <div *ngIf="selectedTab == 'added'" >
        <ion-list class="contactlist ion-margin-start ion-margin-end" *ngFor="let data of selectedData; let i = index">
            <ion-item-sliding class=" app-grid_selection">
                <ion-item class="ion-no-margin" lines="none" (click)="addremoveparticipant(data,i)" [disabled]="!isDisable(field,data)">
                    <ion-avatar slot="start" class="ion-text-uppercase"><span *ngIf="getName(data)" [innerHTML]="getFirstCharOfString(getName(data))"></span></ion-avatar>
                    <ion-label>
                        <ion-text size="12">{{getName(data)}}</ion-text>
                    </ion-label>
                    <!-- <ion-buttons slot="end"><ion-checkbox checked="true" color="appcolor" class="left icon ion-hide" name="" (click)="$event.stopPropagation()" (ionChange)="$event ? toggle(data, $event, i) : null" [checked]="data.selected"   [indeterminate]="data.selected"></ion-checkbox></ion-buttons> -->
                </ion-item>

                <ion-item-options side="end">
                    <ion-item-option color="medium" class="pencil-outline" *ngIf="(field.add_new_enabled && checkRowDisabledIf(field,i)) || (field.add_list_field != 'add' && !updateMode || field.add_new_enabled)" expandable (click)="edite(i)" [disabled]="isDisable(field,data)">
                        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
                      </ion-item-option>
                    <ion-item-option color="danger" class="trash-outline" *ngIf="(field.add_new_enabled && checkRowDisabledIf(field,i)) || (field.add_list_field != 'add' && !updateMode || field.add_new_enabled)" expandable (click)="delete(i)" [disabled]="isDisable(field,data)">
                    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list> 
    </div>

</div>