<ion-header>
    <ion-toolbar>
        <ion-title class="titleP">{{headerVaue}} </ion-title>
        <ion-button (click)="_dismiss()" slot="end">
            <ion-icon name="close"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-col size="12">
        <ion-searchbar [(ngModel)]="name" (ionChange)="onChangeValue(name)" debounce="1000" (ionClear)="onClose(name)" animated></ion-searchbar>
    </ion-col>
    <ion-grid>
        <div *ngFor="let data of searchData" class="divsize">
            <ion-item (click)="selectData(data)">
                <ion-row class="row-padding">

                    <ion-col size="12">
                        <ion-label class="ion-text-wrap nameFont">{{data.name}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-item>
        </div>
    </ion-grid>
</ion-content>