<!-- <ion-header>
    <ion-toolbar>
        <ion-title class="titleP">Upload Prescription </ion-title>
        <ion-button (click)="_dismiss()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header> -->

<ion-header>
    <ion-toolbar>
        <a (click)="_dismiss()" slot="start">
            <ion-icon name="arrow-back-outline" size="large"></ion-icon>
        </a>
        <ion-title class="ion-text-center">Upload Prescription</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">

        <ion-item>
            <h6>Have a prescription? Upload here</h6>
        </ion-item>
        <ion-row class="row-border">
            <ion-col size="4" class="ion-text-center col-border" (click)="getImageFromGallery()">
                <ion-icon name="images-outline" size="large"></ion-icon>
                <p>Gallery</p>
            </ion-col>
            <ion-col size="4" class="ion-text-center col-border" (click)="clickPicture()">
                <ion-icon name="camera-outline" size="large"></ion-icon>
                <p>Camera</p>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
                <ion-label color="medium">View</ion-label>
                <p>My Prescription</p>
            </ion-col>
        </ion-row>

        <ion-item lines="none" class="ion-no-margin ion-no-padding transparent">
            <ion-label>Attached Prescription</ion-label>
        </ion-item>
        <div class="main_content_div">
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="6" *ngFor="let item of presList; let i =index">
                        <div class="back_image" [style.backgroundImage]="'url( data:image/jpeg;base64,' +  item.base64Image + ')'">
                            <ion-icon size="large" name="close-outline" (click)="removePres(i)" color="danger"></ion-icon>
                        </div>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <ion-item lines="none" class="ion-no-margin ion-no-padding transparent">
            <ion-text color="medium">View Prescription Guide</ion-text>
        </ion-item>
        <ion-item lines="none" class="ion-no-margin ion-no-padding transparent">
            <ion-text color="medium" size="large">Why Upload a Prescription ? </ion-text>
            <ion-icon name="chevron-down" color="medium"></ion-icon>
        </ion-item>
        <ion-item lines="none" class="ion-no-margin ion-no-padding transparent" *ngFor="let text of presText">
            <ion-icon name="phone-portrait-sharp" class="icon-margin" size="large" color="medium"></ion-icon>
            <ion-text class="ion-text-justify icon-margin" color="medium"> {{text}}</ion-text>
        </ion-item>


    </div>
</ion-content>