<ion-header>
    <ion-toolbar class="Rectangle-98">
        <ion-buttons slot="start">
            <!-- <ion-button (click)="addAddress()"> -->
            <ion-icon slot="icon-only" size="large" class="header-icon" (click)="goToHome()" name="chevron-back-sharp"></ion-icon>
            <!-- </ion-button> -->
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon name="search-outline" (click)="openSearch()" slot="end"></ion-icon>
            <ion-icon name="cart-outline" [routerLink]="['/tab/cart-items']" class="cart-icon" size="large" slot="end"></ion-icon>
            <ion-badge class="cart-badge" *ngIf="cart_count && cart_count>0">{{cart_count}}</ion-badge>
            <!-- <div><img class="discount" src="assets/newdesign/discount.svg"></div>
            <div><img class="Group-45" src="assets/newdesign/Group 45.svg"></div> -->
        </ion-buttons>
        <!-- <ion-title (click)="addAddress()" size="small" class="Gurgaon"> -->
        <div class="ion-text-wrap Gurgaon">
            Category
        </div>

        <!-- </ion-title> -->

        <!-- <img src="assets/newdesign/Path 229.svg" />
      <img src="assets/newdesign/discount.svg" class="discount" />
      <img src="assets/newdesign/Group 45.svg" class="Group-45" /> -->
    </ion-toolbar>

</ion-header>

<ion-content class="cat-content">
    <!-- <ion-row class="cat">
        <ion-col size="8">
            <span class="Shop-By-Category"> All Medicines</span>
        </ion-col>
        <ion-col size="4">
            <ion-button size="small" class="view-all-button" shape="round" fill="outline">View All</ion-button>
        </ion-col>
    </ion-row> -->
    <div>
        <ion-slides [options]="slideOptsTwo">
            <ion-slide *ngFor="let product of categoryByProductList; let i = index">
                <div class="slide-card">
                    <ion-row>
                        <ion-col size="12">
                            <ion-icon name="heart-outline" class="ion-float-right"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <img src="assets/newdesign/Image 13@2x.png" class="card-img">
                        </ion-col>
                        <ion-col size="12" class="ion-no-padding">
                            <ion-label class="card-product-name">{{product?.item_name?.name}}</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <!-- <ion-col size="6" class="ion-no-padding">
                            <ion-text class="ion-text-start product-price text-line"> &#8377; 1899 </ion-text>
                        </ion-col>
                        <ion-col size="6" class="ion-no-padding">
                            <ion-text class="ion-text-end discount"> 30% Off </ion-text>
                        </ion-col> -->
                        <ion-col size="6" class="ion-no-padding">
                            <ion-text class="ion-text-start product-price"> <strong>&#8377; {{product?.mrp}} </strong></ion-text>
                        </ion-col>
                        <ion-col size="6" class="ion-no-padding"></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="12" *ngIf="!product?.addQuantity">
                            <ion-button expand="block" color="medium" shape="round" (click)="addToCart( i)" class="add-cart-btn ion-text-capitalize">Add</ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-margin-horizontal" *ngIf="product?.addQuantity">
                        <ion-col size="4" (click)="removeQuantity(i)">
                            <ion-icon color="success" size="large" name="remove"></ion-icon>
                        </ion-col>
                        <ion-col size="4" class="ion-align-self-center">
                            <ion-label color="success">{{product?.quantity}}</ion-label>
                        </ion-col>
                        <ion-col size="4" (click)="addQuantity(i)">
                            <ion-icon color="success" size="large" name="add"></ion-icon>
                        </ion-col>
                    </ion-row>

                </div>

            </ion-slide>
            <!-- <ion-slide>
                <div class="slide-card">
                    <ion-row>
                        <ion-col size="12">
                            <ion-icon name="heart-outline" class="ion-float-right"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <img src="assets/newdesign/NoPath - Copy (5)@2x.png" class="card-img">
                        </ion-col>
                        <ion-col size="12" class="ion-no-padding">
                            <ion-label class="card-product-name">Mensome Onion Hair Shampoo</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="6" class="ion-no-padding">
                            <ion-text class="ion-text-start product-price text-line"> &#8377; 1899 </ion-text>
                        </ion-col>
                        <ion-col size="6" class="ion-no-padding">
                            <ion-text class="ion-text-end discount"> 30% Off </ion-text>
                        </ion-col>
                        <ion-col size="6" class="ion-no-padding">
                            <ion-text class="ion-text-start product-price"> <strong>&#8377; 1590 </strong></ion-text>
                        </ion-col>
                        <ion-col size="6" class="ion-no-padding"></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="12">
                            <ion-button expand="block" color="medium" shape="round" class="add-cart-btn ion-text-capitalize">Add to Cart</ion-button>
                        </ion-col>
                    </ion-row>

                </div>
            </ion-slide>
 -->

        </ion-slides>

        <!-- <ion-row class="cat">
            <ion-col size="8">
                <span class="Shop-By-Category"> All Health Care Product</span>
            </ion-col>
            <ion-col size="4">
                <ion-button size="small" class="view-all-button" shape="round" fill="outline">View All</ion-button>
            </ion-col>
        </ion-row>

        <ion-slides [options]="slideOptsTwo">
            <ion-slide>
                <div class="slide-card">
                    <ion-row>
                        <ion-col size="12">
                            <ion-icon name="heart-outline" class="ion-float-right"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <img src="assets/newdesign/Image 13@2x.png" class="card-img">
                        </ion-col>
                        <ion-col size="12" class="ion-no-padding">
                            <ion-label class="card-product-name">Mensome Onion Hair Shampoo</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="6" class="ion-no-padding">
                            <ion-text class="ion-text-start product-price text-line"> &#8377; 1899 </ion-text>
                        </ion-col>
                        <ion-col size="6" class="ion-no-padding">
                            <ion-text class="ion-text-end discount"> 30% Off </ion-text>
                        </ion-col>
                        <ion-col size="6" class="ion-no-padding">
                            <ion-text class="ion-text-start product-price"> <strong>&#8377; 1590 </strong></ion-text>
                        </ion-col>
                        <ion-col size="6" class="ion-no-padding"></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="12">
                            <ion-button expand="block" color="medium" shape="round" class="add-cart-btn ion-text-capitalize">Add to Cart</ion-button>
                        </ion-col>
                    </ion-row>
                </div>

            </ion-slide>
            <ion-slide>
                <div class="slide-card">
                    <ion-row>
                        <ion-col size="12">
                            <ion-icon name="heart-outline" class="ion-float-right"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <img src="assets/newdesign/NoPath - Copy (5)@2x.png" class="card-img">
                        </ion-col>
                        <ion-col size="12" class="ion-no-padding">
                            <ion-label class="card-product-name">Mensome Onion Hair Shampoo</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="6" class="ion-no-padding">
                            <ion-text class="ion-text-start product-price text-line"> &#8377; 1899 </ion-text>
                        </ion-col>
                        <ion-col size="6" class="ion-no-padding">
                            <ion-text class="ion-text-end discount"> 30% Off </ion-text>
                        </ion-col>
                        <ion-col size="6" class="ion-no-padding">
                            <ion-text class="ion-text-start product-price"> <strong>&#8377; 1590 </strong></ion-text>
                        </ion-col>
                        <ion-col size="6" class="ion-no-padding"></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="12">
                            <ion-button expand="block" color="medium" shape="round" class="add-cart-btn ion-text-capitalize">Add to Cart</ion-button>
                        </ion-col>
                    </ion-row>

                </div>
            </ion-slide>


        </ion-slides> -->
        <ion-row class="row-border">
            <ion-col size="4" class="ion-text-center col-border" (click)="getImageFromGallery()">
                <ion-icon name="images-outline" color="medium" size="large"></ion-icon>
                <p class="box-p">Secure</p>
            </ion-col>
            <ion-col size="4" class="ion-text-center col-border" (click)="clickPicture()">
                <ion-icon name="camera-outline" color="medium" size="large"></ion-icon>
                <p class="box-p">Reliable</p>
            </ion-col>
            <ion-col size="4" class="ion-text-center ">
                <ion-icon name="camera-outline" color="medium" size="large"></ion-icon>
                <p class="box-p">Affordable</p>
            </ion-col>
        </ion-row>
    </div>
</ion-content>

<ion-footer color="success">
    <ion-toolbar color="success" class="footer" *ngIf="cartItems && cartItems.length>0 ">
        <ion-row>
            <ion-col size="6">
                <p class="ion-no-margin ">
                    <ion-note class="white"> </ion-note>
                </p>
                <ion-note> {{order?.total}} plus Taxes</ion-note>
            </ion-col>
            <ion-col size="6" class="ion-text-right">
                <ion-button fill="clear" size="small" [routerLink]="['/tab/cart-items']">

                    <ion-icon slot="start" name="star"></ion-icon>
                    View Cart
                </ion-button>

            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>