<ion-tabs class="footertab">
    <ion-tab-bar slot="bottom">
        <!-- <ion-tab-button tab="createpwd"> <ion-icon name="key-outline"></ion-icon><ion-label>Change Password</ion-label></ion-tab-button> -->
        <ion-tab-button tab="home"> <ion-icon name="home-outline"></ion-icon> <ion-label>Home</ion-label> </ion-tab-button>
        <!-- <ion-tab-button (click)="shareApp()"><ion-icon name="share"></ion-icon><ion-label>Share</ion-label></ion-tab-button> -->
        <!-- <ion-tab-button tab="" (click)="comingSoon()"><ion-icon name="person-outline"></ion-icon><ion-label>Account</ion-label></ion-tab-button> -->
    </ion-tab-bar>
</ion-tabs>