<ion-header>
    <ion-toolbar>
        <ion-title class="titleP">Reminder </ion-title>
        <ion-button (click)="_dismiss()" slot="end">
            <ion-icon name="close"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="myForm">


        <ion-item lines="full">
            <ion-label position="floating">Date</ion-label>
            <ion-datetime (ionChange)="fetchDate($event)" formControlName="date" [value]="defaultDate"></ion-datetime>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">Time</ion-label>
            <ion-input formControlName="time" placeholder="HH:MM"></ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-label position="floating">Subject</ion-label>
            <ion-textarea rows="6" cols="10" placeholder="type here" formControlName="subject"></ion-textarea>
        </ion-item>




        <ion-row>
            <ion-col>
                <ion-button type="button" (click)="onSubmit()" color="medium" expand="block">Submit</ion-button>
            </ion-col>
        </ion-row>
    </form>

</ion-content>