<ion-header>
  <ion-toolbar>
    <ion-title>Collection Center</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal('close')">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group value="" [(ngModel)]="selectedCenter">
      <ion-item *ngFor="let item of collectionCenterList">
        <ion-label>{{item?.name ? item?.name : item?.collectionCenterName}}</ion-label>
        <ion-radio slot="end" [value]="item._id"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="block" shape="" fill="outline" size="" color="" (click)="closeModal('submit')" class="waves-light" (click)="closeModal('NAVIGATE')"><ion-icon name="map-outline" slot="start"></ion-icon>NAVIGATE TO MAP
    <!-- <span class="material-symbols-outlined" ></span> -->
  </ion-button>
</ion-footer>

