<ion-header>
  <ion-toolbar>
    <ion-title>COLLECTION CENTER</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-radio-group value="start" [(ngModel)]="selectedCenter">
  <ion-item  *ngFor="let tableField of staticData.collection_centre">
  <ion-radio [value]="tableField.name" labelPlacement="start" ></ion-radio>
    <!-- <ion-checkbox [checked]="tableField.checked" [(ngModel)]="tableField.checked" (ionChange)="inputOnChangeFunc('','')" [ngclass]="tableField.field_class"  [id]="tableField._id+'_'+tableField.field_name"></ion-checkbox> -->
    <ion-label class="ion-margin-start">
        Item {{ tableField.name }} 
    </ion-label>
  </ion-item>
</ion-radio-group>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-button type="button" [disabled]="selectedCenter==''" mdbBtn color="primary" outline="true" slot="end"  class="waves-light" (click)="closeModal('NAVIGATE')">NAVIGATE TO MAP</ion-button>
  </ion-item>
</ion-footer>

