<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button><img src="assets/img/icons/menu.svg"></ion-menu-button>
      </ion-buttons>
      <ion-title>{{web_site_name}}</ion-title>
      <ion-buttons slot="end">        
        <!-- <ion-icon name="notifications-outline" size="large"></ion-icon> -->
      </ion-buttons>
  </ion-toolbar>
  <!-- <ion-searchbar [(ngModel)]="myInput" (ionInput)="search(myInput)" (ionChange)="onChangeValue(myInput)" (ionClear)="onClose(myInput)" showCancelButton="focus" value="Search" autocomplete="on" autocorrect="on"></ion-searchbar> -->
</ion-header>

<ion-content class="pages">
  <div class="banner">
    <swiper [slidesPerView]="3" [spaceBetween]="8" [autoplay]="true" [loop]="true" [centeredSlides]="true" class="mySwiper">
        <ng-template swiperSlide *ngFor="let item of list"><div class="slideshow"><img  [src]="item"></div></ng-template>
    </swiper>
</div>

  <!-- get below data from card master-->
  <ion-grid class="catlist">
    <ul>
      <li *ngFor="let cardItem of cardList; let i = index" (click)="showCardTemplate(cardItem, i)" [class.selected]="selectedIndex == i" [ngClass]="cardItem.home_icon_menu?'ion-show':'ion-hide'">
        <div class="caticon">
          <ion-img [src]="cardItem.image_src"></ion-img>
        </div>
        <span>{{cardItem.name}}</span>
      </li>
    </ul>
       
    <!--  -->
    <!-- <ion-row class="">
      <ion-col [size]="col_size" *ngFor="let cardItem of cardList; let i = index" (click)="showCardTemplate(cardItem, i)" [class.selected]="selectedIndex == i" [ngClass]="cardItem.home_icon_menu?'ion-show':'ion-hide'">
        <div class="home_ionmenu ion-text-center">
          <ion-img [src]="cardItem.image_src"></ion-img>
        </div>        
        <ion-label class="home_icon_label">{{cardItem.name}}</ion-label>
      </ion-col>
      
    </ion-row>     -->

  </ion-grid>


</ion-content>
