.slides{
    ion-slides{
        img{
            border-radius: 5px;
        }
    }
}
ion-searchbar{
    background: #5167c5;
}
.record_info {border-radius: 20px;margin: 0;}
.main_label{font-size: 14px;color: #5167c5;}

// below are generic css for site
.custom_primary_color{color: #5167c5;}
.custom_light_color{color: #a9aaaa;}
.small{font-size:12px;}
.outline_button{font-size: 10px;}

// banner
.cardbox2{width: 95%; border:1px solid #cccccc; margin: 10px 0px 15px 0px;border-radius: 15px;background: url('/assets/003.png') no-repeat; padding-bottom: 40px;}
.maintop{margin-top: 20px; font-size: 22px; font-weight: bold;}
.h2Today{color:#ffffff!important; font-weight: bold; font-size: 22px!important;}
.h2Total{color:#ffffff; font-weight: bold; font-size: 22px!important; margin-top: 20px!important;}