<ion-header class="ion-no-border">
    <ion-toolbar class="Rectangle-98 ion-no-margin">
        <ion-buttons slot="start">
            <!-- <ion-button (click)="addAddress()"> -->
            <ion-icon slot="icon-only" size="large" class="header-icon" (click)="_dismiss()" name="chevron-back-sharp"></ion-icon>
            <!-- </ion-button> -->
        </ion-buttons>
        <!-- <ion-title (click)="addAddress()" size="small" class="Gurgaon"> -->
        <div class="ion-text-wrap header-title">
            Order Summary
        </div>

        <!-- </ion-title> -->

        <!-- <img src="assets/newdesign/Path 229.svg" />
    <img src="assets/newdesign/discount.svg" class="discount" />
    <img src="assets/newdesign/Group 45.svg" class="Group-45" /> -->
    </ion-toolbar>
</ion-header>
<ion-content>


    <ion-row class="row-padding">
        <ion-col size="7">
            <ion-label class="nameFont"><strong>{{modalData?.name | titlecase}}</strong></ion-label>
        </ion-col>
        <ion-col size="5" class="ion-text-end">
            <ion-label>{{modalData?.phone }}
            </ion-label>
        </ion-col>
        <ion-col size="7" class="nameFont">
            <ion-label class="nameFont">{{modalData.createdDate | date:'dd-MMM-yy HH:mm'}}</ion-label>

        </ion-col>
        <ion-col size="5" class="ion-text-end">
            <ion-label>{{modalData?.netAmount | currency:'INR':'symbol':'1.2-2' }}
            </ion-label>
        </ion-col>
        <ion-col size="12">
            <ion-label><strong>Delivery Address: </strong>{{modalData?.deliveryAddress }}
            </ion-label>
        </ion-col>


    </ion-row>
    <ion-row class="ion-margin-vertical ion-padding-horizontal">
        <ion-col class="line">

        </ion-col>
    </ion-row>
    <ion-row class="row-items">
        <ion-col size="8 ">
            <span class="Shop-By-Category "> Order Items</span>
        </ion-col>
    </ion-row>
    <div *ngFor="let item of modalData.items; let i =index">
        <ion-row class="ion-margin-vertical ion-padding-horizontal">
            <ion-col size="5">
                <ion-img src="assets/newdesign/Image 16.png" class="card-img"></ion-img>
            </ion-col>
            <ion-col size="7">
                <ion-row>
                    <ion-col size="12">
                        <ion-text>
                            {{item?.name?.name}}
                        </ion-text>
                    </ion-col>
                    <ion-col size="12">
                        <b><span>Rs </span>
                  <ion-label> {{item?.mrp}}</ion-label></b>
                    </ion-col>
                    <ion-col size="12">

                        <ion-label>{{item?.quantity}} X {{item?.mrp}} = <b> Rs {{item?.price}}</b></ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>

        </ion-row>
        <ion-row class="ion-margin-vertical ion-padding-horizontal">
            <ion-col class="line">

            </ion-col>
        </ion-row>
    </div>

</ion-content>