.top-row-bg {
    background-color: #f5f5f5;
    padding: 6px;
}

.del-row {
    border: solid 1px red;
    border-radius: 10px;
    padding: 5px;
}

.line {
    border-top: solid 1px #c0c0c0;
}

.address {
    margin: 0 0 0 7px;
}