<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()"><ion-back-button slot="icon-only" defaultHref="/card-view"></ion-back-button></ion-buttons>
    <ion-title class="ion-no-padding ion-text-capitalize"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pages">
  <div class="contactdetails"  *ngIf="cardType == 'detail1'">   
    <ion-item class="enquerylist" *ngFor="let column of childColumns; index as j">
      <span [ngClass]="column.class_name ? column.class_name  : ''">{{column.field_label}}</span>

      <strong [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number' || column.type == 'currency' || column.type == 'email' || column.type == 'text' || column.type == 'date' || column.type == 'datetime' || column.type == 'info'" [innerHTML]="getValueForGrid(column,childDataValue)"></strong>

      <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button' || column.type == 'iconbutton'" color="medium" fill="outline" size="small" [innerHTML]="getValueForGrid(column,childDataValue)"></ion-button>

      <strong [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'info'">
        <ion-button shape="round" fill="outline"></ion-button>
      </strong>
    </ion-item>
  </div>

  <div class="contactprofile" style="height: 40%;" *ngIf="cardType == 'contactdetail'">
    <div class="profileicon" ><span *ngIf="childDataValue.first_name">{{childDataValue.first_name[0]}}</span><span *ngIf="childDataValue.last_name">{{childDataValue.last_name[0]}}</span></div>
    <h3 class="personName">{{childDataValue.first_name  +" "+ childDataValue.last_name}}</h3>
    <p class="personDesignation">{{childDataValue.designation}}</p>
    <div class="contactmedia">
      <ion-button (click)="call(childDataValue.mobile)"><img src="assets/img/icons/phone.svg"></ion-button>
      <ion-button (click)="sendwhatsapp(childDataValue.mobile)"><ion-icon name="logo-whatsapp"></ion-icon></ion-button>
      <ion-button (click)="sendsms(childDataValue.mobile)"><img src="assets/img/icons/comment.svg"></ion-button>
      <ion-button (click)="sendemail(childDataValue.email)"><img src="assets/img/icons/mail.svg"></ion-button>
      <ion-button (click)="comingSoon()"><img src="assets/img/icons/edit.svg"></ion-button>
    </div>
  </div>  
  <div *ngIf="tabMenu.length > 0" style="height: 60%;">
    <app-cards-layout [card]="card" [data]="childDataValue" (columnListOutput) = "columnListOutput($event)"></app-cards-layout>
  </div>
  
</ion-content>

