// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 247, 38, 100;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint:#4c8dff;
    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-rgb: 172, 14, 134;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #36abe0;
    --ion-color-secondary-tint: #50c8ff;
    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 132, 0, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 117, 204, 83;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 183, 50;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 240, 64, 35;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 81, 103, 197;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;

    --ion-color-appcolor: #28426d;
	--ion-color-appcolor-rgb: 40,66,109;
	--ion-color-appcolor-contrast: #ffffff;
	--ion-color-appcolor-contrast-rgb: 255,255,255;
	--ion-color-appcolor-shade: #233a60;
	--ion-color-appcolor-tint: #3e557c;

    --ion-color-default: #5167C5;
    --ion-color-toolbar: #5167C5;
    --ion-toolbar-background: var(--ion-color-toolbar);
    --ion-toolbar-color: var(--ion-color-light);
    --ion-color-white: #ffffff;
    --themebg :#1d5ea6;
    --theme-color-light : #233a60;
    --theme-color-rgb : #3e557c;
    --card-bg-light : #ddecf7;

    --active-bg : #0fc6e3;--Active-bg : #0fc6e3;--ACTIVE-bg : #0fc6e3;
    --regret-bg : #ffb732;--Regret-bg : #ffb732;--Regret-bg : #ffb732;
    --new-bg : #0a75d2;--New-bg : #0a75d2;--NEW-bg : #0a75d2;
    --move-bg : #08be6a;--Move-bg : #08be6a;--MOVE-bg : #08be6a;
    --completed-bg : #0fc6e3;--Completed-bg : #0fc6e3;--COMPLETED-bg : #0fc6e3;
    --approved-bg : #08be6a;--Approved-bg : #08be6a;--APPROVED-bg : #08be6a;
    --booked-bg : #08be6a;--Booked-bg : #08be6a;--BOOKED-bg : #08be6a;
    --dispatching-bg : #0851b5;--Dispatching-bg : #0851b5;--DISPATCHING-bg : #0851b5;
    --review-bg : #348EF7;--Review-bg : #348EF7;--REVIEW-bg : #348EF7;
    --scheduling-bg : #0fc6e3;--Scheduling-bg : #0fc6e3;--SCHEDULING-bg : #0fc6e3;
    --person_incharge-bg : #ffb732;--Person_Incharge-bg : #ffb732;--PERSON_INCHARGE-bg : #ffb732;
    --testing-bg : #0a75d2;--Testing-bg : #0a75d2;--TESTING-bg : #0a75d2;
    --invoicing-bg : #08be6a; --Invoicing-bg : #08be6a; --INVOICING-bg : #08be6a;
    --inactive-bg : #0fc6e3;--Inactive-bg : #0fc6e3;--INACTIVE-bg : #0fc6e3;
    --feasibility-bg : #0fc6e3;--Feasibility-bg : #0fc6e3;--FEASIBILITY-bg : #0fc6e3;
    --approve-bg : #08BE6A;--Approve-bg : #08BE6A;--APPROVE-bg : #08BE6A;
    --reject-bg : #D60007;--Reject-bg : #D60007;--REJECT-bg : #D60007;
    --qa_approval-bg : #ffb732;--Qa_Approval-bg : #ffb732;--QA_APPROVAL : #ffb732;
    
}

.ion-color-appcolor {
    --ion-color-base: var(--ion-color-appcolor, --ion-color-white);
    --ion-color-base-rgb: var(--ion-color-appcolor-rgb, --ion-color-white);
    --ion-color-contrast: var(--ion-color-appcolor-contrast, --ion-color-white);
    --ion-color-contrast-rgb: var(--ion-color-appcolor-contrast-rgb, --ion-color-white);
    --ion-color-shade: var(--ion-color-appcolor-shade, --ion-color-white);
    --ion-color-tint: var(--ion-color-appcolor-tint, --ion-color-white);
}