<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"  (click)="goBack()"><ion-back-button defaultHref="/home"></ion-back-button></ion-buttons>
  <ion-item lines="none">
    <ion-select interface="" [(ngModel)]="searchcardfield"   >
      <ion-select-option *ngFor="let columns of columnList; index as i" [value]="columns.field_name" >{{columns.field_label}}</ion-select-option>
    </ion-select>
    
      <div class="cardsearch">
        <ion-title class="ion-no-padding ion-text-capitalize" [ngClass]="{'visible-btn': !searching, 'hidden-btn': searching}">{{cardtitle}}</ion-title>
          <ion-input placeholder="search" (ionChange)="filterCardAgain()" [(ngModel)]="searchcardvalue" clearInput [placeholder] animated="true"
          [class.active-search]="searching" [class.inactive-search]="!searching" [ngClass]="{'visible-btn': searching, 'hidden-btn': !searching}">
              <ion-icon name="search" size="small"></ion-icon>
          </ion-input>
          <ion-buttons slot="end" (click)="togglesearch()">
              <ion-icon name="search" [ngClass]="{'visible-btn': !searching, 'hidden-btn': searching}"></ion-icon>
              <ion-icon name="close-outline" [ngClass]="{'visible-btn': searching, 'hidden-btn': !searching}"></ion-icon>
          </ion-buttons>
      </div>
      <ion-buttons class="filter ion-text-end" slot="end" (click)="open()">
          <img src="assets/img/icons/Filter.svg">
      </ion-buttons>
    
  </ion-item>
 
  </ion-toolbar>
</ion-header>

<div id="ion_accordian" class="ion_accordian ion-no-padding filterdata" *ngIf="openFilter">
  <div [formGroup]="filterForm" >
    <div class="search_div ion-padding">
      <div *ngFor="let column of columnList; index as j" style="position: relative;">
        <div class="filteritem" *ngIf="column.type == 'text'" [ngClass]="column.filter?'ion-show':'ion-hide'" >
              <input type="checkbox" checked disabled>
              <ion-input class="ion-text-capitalize" [formControlName]="column.field_name" clearInput [placeholder]="column.field_label"></ion-input>
        </div>
      </div>
      <ion-buttons class="ion-padding-vertical ion-justify-content-around">
        <ion-button fill="outline" class="ion-text-capitalize" (click)="closefilterCard()">Close</ion-button>
        <ion-button fill="outline" class="ion-text-capitalize" (click)="clearfilterCard()">Clear</ion-button>
        <ion-button type="submit" fill="outline" class="ion-text-capitalize" (click)="filterCard()">Apply</ion-button>
      </ion-buttons>
    </div>
  </div>    
</div>
<ion-content class="pages quotation">

  
    <app-cards-layout [card]="card" [data]="data" (columnListOutput) = "columnListOutput($event)"></app-cards-layout>


  <!-- <div *ngIf="filterCount == 0" class="nodatafound">    
    <ion-img src="../../../assets/nodatafound.png"></ion-img>
    <p>Go Back or Try adjusting your filter.</p>
    <ion-button color="primary" fill="outline" size="small" (click)="clearfilterCard()">Go Back</ion-button>
  </div>

  <ion-list class="contactlist" *ngIf="cardType == 'summary'">
    <ion-item-sliding *ngFor="let card of carddata; index as i">
        <ion-item class="quotationlist">
          <ion-row class="ion-align-items-center inner_padding">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" class="ion-no-padding"  (click)="modaldetailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)"></ion-button>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-list class="contactlist" *ngIf="cardType == 'report'">
    <ion-item-sliding *ngFor="let card of carddata; index as i">
        <ion-item class="quotationlist">
          <ion-row class="ion-align-items-center inner_padding">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" class="ion-no-padding"  (click)="modaldetailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'email'" [innerHTML]="getValueForGrid(column,card)"></p>
              <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)"></ion-button>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-item>
    </ion-item-sliding>
  </ion-list>
  
  <ion-list class="contactlist" *ngIf="cardType == 'invoice'">
    <ion-item-sliding *ngFor="let card of carddata; index as i">
        <ion-item class="quotationlist">
          <ion-row class="ion-align-items-center inner_padding">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" class="ion-no-padding"  (click)="detailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'email'" [innerHTML]="getValueForGrid(column,card)"></p>
              <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)"></ion-button>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="end" (click)="callInvoice(card, i)"><ion-item-option><ion-icon name="call"></ion-icon></ion-item-option></ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list class="contactlist" *ngIf="cardType == 'contact'">
    <ion-item-sliding *ngFor="let card of carddata; index as i">
        <ion-item class="contactlist">
          <ion-avatar slot="start">El</ion-avatar>
          <ion-row class="ion-align-items-center inner_padding">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" class="ion-no-padding"  (click)="detailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" class="ion-text-end" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'" [innerHTML]="getValueForGrid(column,card)"></p>
              <ion-label><h5 [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></h5></ion-label>
              <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)"></ion-button>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="end" (click)="call(card, i)"><ion-item-option><ion-icon name="call"></ion-icon></ion-item-option></ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list class="contactlist" *ngIf="cardType == 'order'">
    <ion-item-sliding *ngFor="let card of carddata; index as i">
        <ion-item class="quotationlist">
          <ion-row class="ion-align-items-center inner_padding">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" class="ion-no-padding"  (click)="detailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'email'" [innerHTML]="getValueForGrid(column,card)"></p>
              <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)"></ion-button>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-list class="contactlist" *ngIf="cardType == 'enquiry'">
    
    <ion-item-sliding *ngFor="let card of carddata; index as i">
        <ion-item class="quotationlist">
          <ion-row class="ion-align-items-center inner_padding">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" class="ion-no-padding"  (click)="detailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'"  [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'email'" [innerHTML]="getValueForGrid(column,card)"></p>
              <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)"></ion-button>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-list class="contactlist" *ngIf="cardType == 'customerpo'">    
    <ion-item-sliding *ngFor="let card of carddata; index as i">
        <ion-item class="quotationlist">
          <ion-row class="ion-align-items-center inner_padding">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" class="ion-no-padding"  (click)="detailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'"  [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'email'" [innerHTML]="getValueForGrid(column,card)"></p>
              <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)"></ion-button>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-item>
    </ion-item-sliding>
  </ion-list> -->

  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="filterCount > 0">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  <!-- routerLink="../addquotation" -->
  
  <!-- <div class="addmore" (click)="addNew()"><ion-icon name="add-outline"></ion-icon> ADD</div> -->

  
  <!-- <div class="addmore" routerLink="../addquotation"><ion-icon name="add-outline"></ion-icon> ADD</div> -->

</ion-content>