<ion-header>
  <ion-toolbar *ngIf="!this.popoverTabbing">
    <ion-buttons slot="start" (click)="goBack()"><ion-back-button defaultHref="/home"></ion-back-button></ion-buttons>
    <div class="cardsearch">
      <ion-select interface="popover" placeholder="Search Value" [(ngModel)]="searchcardfield" (ionChange)="selectedSearchValue(searchcardfield)">
        <ion-select-option *ngFor="let columns of columnList; index as i" [value]="columns.field_name">{{columns.field_label}}</ion-select-option>
      </ion-select>
      <div class="searchbox">
          <ion-title [ngClass]="{'visible-btn': !searching, 'hidden-btn': searching}">{{cardtitle}}</ion-title>
          <ion-input placeholder="search" class="align-self: auto" (ionChange)="filterCardAgain()" [(ngModel)]="searchcardvalue" clearInput [placeholder] animated="true" [class.active-search]="searching" [class.inactive-search]="!searching" [ngClass]="{'visible-btn': searching, 'hidden-btn': !searching}">
            <span (click)="togglesearch()"><ion-icon name="arrow-back" size="small" [ngClass]="{'visible-btn': searching, 'hidden-btn': !searching}"></ion-icon></span>
          </ion-input>
          <ion-buttons slot="end" (click)="togglesearch()">
            <ion-icon name="search" [ngClass]="{'visible-btn': !searching, 'hidden-btn': searching}"></ion-icon>
            <ion-icon name="close-outline" [ngClass]="{'visible-btn': searching, 'hidden-btn': !searching}"></ion-icon>
          </ion-buttons>
          <ion-buttons class="filter ion-text-end" slot="end" (click)="open()"><img src="assets/img/icons/Filter.svg"></ion-buttons>
      </div>

    </div>
  </ion-toolbar>

  <ion-toolbar *ngIf="this.popoverTabbing">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="" *ngIf="headerTitle !=''">{{headerTitle}}</ion-title>
    <ion-buttons class="filter ion-text-end" slot="end" (click)="open()"><img src="assets/img/icons/Filter.svg"></ion-buttons>
    <ion-buttons class="filter ion-text-end" slot="end" id="popover-id">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-buttons>
    <ion-popover trigger="popover-id" dismiss-on-select="true">
      <ng-template>
        <app-popover [card]="card" [popoverItems]="popoverItems" (popoverOutput)="popoverOutput($event)"></app-popover>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>



<div id="ion_accordian" class="ion_accordian ion-no-padding filterdata" *ngIf="openFilter">
  <div [formGroup]="filterForm">
    <div class="search_div ion-padding">
      <div *ngFor="let column of columnList; index as j" style="position: relative;">
        <div class="filteritem" *ngIf="column.type == 'text'" [ngClass]="column.filter?'ion-show':'ion-hide'">
          <input type="checkbox" checked disabled>
          <ion-input class="ion-text-capitalize" [formControlName]="column.field_name" clearInput [placeholder]="column.field_label"></ion-input>
        </div>
      </div>
      <ion-buttons class="ion-padding-vertical ion-justify-content-around">
        <ion-button fill="outline" shape="round" class="ion-text-capitalize" (click)="closefilterCard()">Close</ion-button>
        <ion-button fill="outline" shape="round" class="ion-text-capitalize" (click)="clearfilterCard()">Clear</ion-button>
        <ion-button type="submit" fill="outline" shape="round" class="ion-text-capitalize" (click)="filterCard()">Apply</ion-button>
      </ion-buttons>
    </div>
  </div>
</div>

<ion-content class="pages quotation" [scrollEvents]="true">
  <app-cards-layout [card]="card" [data]="data" (columnListOutput)="columnListOutput($event)" (popoverTabbing)="popoverMenuItem($event)"></app-cards-layout>
</ion-content>