<ion-content>
    <div class="box">

        <h4 class="ion-padding-start ion-no-margin div-text"> Login With Mobile Number</h4>

    </div>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size="4">

            </ion-col>
            <ion-col size="4" class="ion-text-center">
                <img src="assets/logo.png">
            </ion-col>
            <ion-col size="4">

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-card *ngIf="!otpSent" class="ion-margin-bottom card-width">
                <form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
                    <ion-col size="12">
                        <ion-item>
                            <ion-input type="number" formControlName="mobileNo" placeholder="Mobile Number"></ion-input>
                            <ion-icon name="phone-portrait-outline" slot="start" color="medium" class="item-left"></ion-icon>
                        </ion-item>
                        <div *ngIf="f.mobileNo.invalid && (f.mobileNo.dirty || f.mobileNo.touched)" class="alert">
                            <div *ngIf="f.mobileNo.errors.required" class="warning">
                                Mobile no is required.
                            </div>
                            <div *ngIf="f.mobileNo.errors?.pattern" class="warning">
                                Mobile number should be 10 digit number.
                            </div>
                        </div>
                    </ion-col>
                    <ion-col size="12">
                        <ion-button type="submit" [disabled]="!otpForm.valid" shape="round" expand="block" color="medium">Send OTP</ion-button>
                    </ion-col>
                </form>
                <ion-col class="ion-text-end" size="4">

                </ion-col>
                <ion-col class="ion-text-end" size="5">

                </ion-col>
                <ion-col size="3">
                    <ion-text class="signup" [routerLink]="['/signup']" color="medium">SignUp</ion-text>
                </ion-col>

            </ion-card>
            <ion-card *ngIf="otpSent" class="card-width">
                <ion-item lines="none" style="padding: 0px;">
                    <ion-icon (click)="goBackToOtp()" name="arrow-back" color="medium"></ion-icon>
                </ion-item>
                <form [formGroup]="otpVerifyForm" (ngSubmit)="verifyOtp()">
                    <ion-col size="12 ">
                        <ion-item>
                            <ion-input type="number" formControlName="otp_input" placeholder="Enter OTP "></ion-input>
                            <ion-icon name="phone-portrait-outline " slot="start " color="medium " class="item-left "></ion-icon>
                        </ion-item>

                    </ion-col>
                    <ion-col size="12 ">
                        <a class="ion-float-left ion-margin-bottom " *ngIf="!resendOtp">
                            <ion-label class="ion-padding-start " color="medium "> {{time | async}}</ion-label>
                        </a>
                        <a class="ion-float-right ion-margin-bottom " (click)="sendOtp() ">
                            <ion-label class="ion-padding-end " color="medium "> Resend</ion-label>
                        </a>
                    </ion-col>
                    <ion-col size="12 ">
                        <ion-button type="submit" [disabled]="!otpVerifyForm.valid" shape="round " expand="block" class="ion-margin-top " color="medium ">Verify OTP</ion-button>
                    </ion-col>

                </form>
            </ion-card>
        </ion-row>

    </ion-grid>
</ion-content>