<ion-content>
    <div class="box">

        <h4 class="ion-padding-start ion-no-margin div-text"> Login With Mobile Number</h4>

    </div>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size="4">

            </ion-col>
            <ion-col size="4" class="ion-text-center">
                <img src="assets/logo.png">
            </ion-col>
            <ion-col size="4">

            </ion-col>
        </ion-row>
        <ion-card *ngIf="!otpSent" class="ion-margin-bottom">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <ion-row class="row">
                    <ion-col size="12">
                        <ion-input type="text" class="inputBg" formControlName="name" placeholder="Name"></ion-input>
                        <!-- <ion-icon name="phone-portrait-outline" slot="start" color="medium" class="item-left"></ion-icon> -->
                        <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="alert">
                            <ion-text *ngIf="f.name.errors.required" color="danger">
                                Name is required.
                            </ion-text>
                        </div>
                    </ion-col>
                    <ion-col size="12">
                        <ion-input type="number" class="inputBg" formControlName="mobileNo" placeholder="Mobile Number"></ion-input>
                        <div *ngIf="f.mobileNo.invalid && (f.mobileNo.dirty || f.mobileNo.touched)" class="alert">
                            <ion-text *ngIf="f.mobileNo.errors.required" color="danger">
                                Mobile no is required.
                            </ion-text>
                            <ion-text *ngIf="f.mobileNo.errors?.pattern" color="danger">
                                Mobile number should be 10 digit number.
                            </ion-text>
                        </div>
                        <!-- <ion-icon name="phone-portrait-outline" slot="start" color="medium" class="item-left"></ion-icon> -->
                    </ion-col>
                    <ion-col size="12">

                        <ion-input type="text" class="inputBg" formControlName="email" placeholder="Email"></ion-input>
                        <ion-icon name="phone-portrait-outline" slot="start" color="medium" class="item-left"></ion-icon>
                        <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="alert">
                            <ion-text *ngIf="f.email.errors.required" color="danger">
                                Email no is required.
                            </ion-text>
                            <ion-text *ngIf="f.email.errors?.email" color="danger">
                                Invalid Email
                            </ion-text>
                        </div>
                    </ion-col>
                    <!--<ion-col size="12">

                        <ion-input type="password" class="inputBg" formControlName="password" placeholder="password"></ion-input>
                        <ion-icon name="phone-portrait-outline" slot="start" color="medium" class="item-left"></ion-icon>
                        <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="alert">
                            <ion-text *ngIf="f.password.errors.required" color="danger">
                                Password is required.
                            </ion-text>
                            <ion-text *ngIf="f.password.errors.minlength" color="danger">
                                Password should be minimum 6 characters
                            </ion-text>
                        </div>

                    </ion-col> -->
                    <ion-col size="12">
                        <ion-button type="submit" [disabled]="!userForm.valid" shape="round" expand="block" color="medium">Sign Up</ion-button>
                    </ion-col>

                </ion-row>
            </form>
        </ion-card>

    </ion-grid>
</ion-content>