<!-- <ion-header>
    <ion-toolbar>
        <ion-title class="titleP">Reminder </ion-title>
       
</ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding-start ion-padding-end">
    <ion-item lines="none">
        <ion-icon class="ion-text-end" size="large" color="medium" (click)="_dismiss()" name="close-outline" slot="end"></ion-icon>

    </ion-item>


    <ion-card class="card-style">
        <img *ngIf="modalData.image" [src]="modalData.image" />
        <ion-card-header>
            <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
            <ion-card-title>{{modalData.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{modalData.body}}
        </ion-card-content>
    </ion-card>
</ion-content>