<ion-app>
    <ion-menu side="start">
        <!-- <ion-header>
            <ion-toolbar>
                <ion-title class="ion-text-center">
                    Sanjivani Chemist
                </ion-title>
            </ion-toolbar>
        </ion-header> -->

        <ion-content>
            <div class="cover_div">
                <div class="overlay"></div>
                <div class="user_image" [style.backgroundImage]="'url(assets/imgs/images.jpg)'"></div>

                <div class="detail_div">
                    <ion-row>
                        <ion-col size="12" class="ion-text-center">
                            <ion-label class="username">{{userInfo?.email}}</ion-label>
                        </ion-col>
                        <ion-col size="12" class="ion-text-center">
                            <ion-label class="username">{{userInfo?.name | titlecase}}</ion-label>
                        </ion-col>
                        <ion-col size="12" class="ion-text-center">
                            <ion-label class="username">{{userInfo?.mobile1}}</ion-label>
                        </ion-col>
                    </ion-row>

                </div>
            </div>
            <ion-list>

                <ion-item lines="none" *ngIf="!userInfo?.email">
                    <ion-label class="ion-no-margin" [routerLink]="['/auth/signup']" color="medium">Login/Signup</ion-label>
                </ion-item>

            </ion-list>
            <ion-row class="row-box-shadow">
                <ion-col size="4" class="ion-text-center col-border">
                    <ion-icon name="list-outline" size="large"></ion-icon>
                    <p class="ion-no-margin menu-grid-label">Affordable</p>
                </ion-col>
                <ion-col size="4" class="ion-text-center col-border">
                    <ion-icon name="flask-outline" size="large"></ion-icon>
                    <p class="ion-no-margin menu-grid-label">Lab Tests</p>
                </ion-col>
                <ion-col size="4" class="ion-text-center col-border">
                    <ion-icon name="people-outline" size="large"></ion-icon>
                    <p class="ion-no-margin menu-grid-label">Consultations</p>
                </ion-col>
            </ion-row>

            <ion-list>
                <ion-menu-toggle>
                    <ion-item lines="none" [routerLink]="['/home']">
                        <ion-img src="assets/newdesign/Image 28.png"></ion-img>
                        <ion-label class="ion-margin-start">Home</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item lines="none" [routerLink]="['/tab/home2']">
                        <ion-img src="assets/newdesign/Image 28.png"></ion-img>
                        <ion-label class="ion-margin-start">Home 2</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item lines="none" [routerLink]="['/home3']">
                        <ion-img src="assets/newdesign/Image 28.png"></ion-img>
                        <ion-label class="ion-margin-start">Home 3</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item lines="none" [routerLink]="['/cat']">
                        <ion-img src="assets/newdesign/Image 28.png"></ion-img>
                        <ion-label class="ion-margin-start">Shop by Category</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <!-- <ion-menu-toggle>
                    <ion-item lines="none">
                        <ion-img src="assets/newdesign/Icon feather-file-text.png"></ion-img>
                        <ion-label class="ion-margin-start">Order with Prescription</ion-label>
                    </ion-item>
                </ion-menu-toggle> -->
                <ion-menu-toggle>
                    <ion-item lines="none" button [routerLink]="['/tab/cart-items']">
                        <ion-img src="assets/newdesign/Icon feather-shopping-cart.png"></ion-img>
                        <ion-label class="ion-margin-start">Cart</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item lines="none" button [routerLink]="['/order-history']">
                        <ion-img src="assets/newdesign/Icon awesome-history.png"></ion-img>
                        <ion-label class="ion-margin-start">History</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item lines="none" button (click)="onLogout()">
                        <ion-img src="assets/newdesign/Icon ionic-md-help.png"></ion-img>
                        <ion-label class="ion-margin-start"> Logout</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
            <ion-item lines="none" class="ion-margin-top" button>
                <ion-label class="ion-no-margin"> Follow us on</ion-label>
            </ion-item>
            <ion-row class="icon-row">
                <ion-col size="3">
                    <ion-icon name="logo-linkedin" color="medium" size="large"></ion-icon>
                </ion-col>
                <ion-col size="3">
                    <ion-icon name="logo-facebook" color="medium" size="large"></ion-icon>
                </ion-col>
                <ion-col size="3">
                    <ion-icon name="logo-twitter" color="medium" size="large"></ion-icon>
                </ion-col>
                <ion-col size="3">
                    <ion-icon name="logo-instagram" color="medium" size="large"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-content>
        <ion-footer class="ion-no-border menu-footer">

            <ion-note class="icon-row"> @ 2021 {{web_site}} v1.0.0 </ion-note>

        </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>