<ion-app>
    <ion-menu side="start" menuId="custom" contentId="main" *ngIf="showSidebarMenu">
        <ion-content class="sidenav" >
            <div class="sidebarheader">
                <div class="profilpic"><ion-icon name="person-circle-outline"></ion-icon></div>
                <div class="prifiledetails" *ngIf="userInfo">
                    <h4 style="margin:0">{{userInfo.name}}</h4><small>{{userInfo.email}}</small>
                </div>
                <ion-menu-toggle (click)="onLogout()"><ion-icon name="power-outline"></ion-icon></ion-menu-toggle>
            </div>
            <ion-list class="menulist">
                <ion-menu-toggle>
                    <ion-item lines="none" [routerLink]="['/home']">
                        <ion-icon name="home-outline"></ion-icon>
                        <ion-label class="ion-margin-start">Home</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item lines="none" [routerLink]="['/createpwd']">
                        <ion-icon name="key-outline"></ion-icon>
                        <ion-label class="ion-margin-start">Change Password</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <!-- Dynamic Sidebar -->
                <ion-menu-toggle auto-hide="false">
                    <ion-item lines="none" *ngFor="let cardItem of cardList; let i = index"
                        (click)="showCardTemplate(cardItem, i)" lines="none" detail="false"
                        [class.selected]="selectedIndex == i" [ngClass]="cardItem.sidebar_menu?'ion-show':'ion-hide'">
                        <ion-avatar slot="start"><img [src]="cardItem.image_src"></ion-avatar>
                        <ion-label class="ion-margin-start">{{cardItem.name}}</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <!-- Dynamic Sidebar End -->
                <ion-menu-toggle>
                    <ion-item (click)="shareApp()">
                        <ion-icon name="share" slot="start" style="margin-right:16px;"></ion-icon>
                        <!-- <span class="material-symbols-outlined"slot="start" >share</span> -->
                        <ion-label class="ion-margin-start">Share</ion-label>
                    </ion-item>                    
                </ion-menu-toggle>                
                <!-- <ion-menu-toggle>
                    <ion-item lines="none" [routerLink]="['/scanner']">
                        <ion-icon name="scan"></ion-icon>
                        <ion-label class="ion-margin-start">Scanner</ion-label>
                    </ion-item>
                </ion-menu-toggle> -->
            </ion-list>
            <ion-footer>
                <!-- <div class="socialgroup">
                    <ion-icon name="logo-linkedin"></ion-icon>
                    <ion-icon name="logo-facebook"></ion-icon>
                    <ion-icon name="logo-twitter"></ion-icon>
                    <ion-icon name="logo-instagram"></ion-icon>
                </div> -->
                <ion-note class="icon-row"> {{app_Version}} </ion-note>
            </ion-footer>
        </ion-content>
    </ion-menu>
    <ion-router-outlet main id="main"></ion-router-outlet>
</ion-app>