.downfont{font-size: 20px;}
.divsize{font-size:12px!important;border: 1px solid #dce0f3; margin-bottom: 10px; border-radius: 10px;color:#303d76;}
.nameFont { font-size: 14px!important;}
.boxsize { font-size: 12px!important; height: 24px!important; color:hotpink!important;}

