<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Charts </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="">

    <ion-card class="" *ngFor="let chart of charts">
      <ion-card-header>
        <ion-card-title>{{chart.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas baseChart 
          [datasets]="chartDatasets[chart.name]"
          [labels]="chartLabels[chart.name]"
          [options]="chartOptions[chart.name]"
          [legend]="chartLegend[chart.name]"
          [type]="chartType[chart.name]">
          <p>Your browser does not support the canvas element.</p>
        </canvas>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
