// ::ng-deep .sc-ion-modal-md-h {
//     height: 65%;
//     top: 15%;
//     right: 10%;
//     left: 10%;
//     position: absolute;
//     border-radius: 10px;
//     border: solid 1px var(--ion-color-c7);
//     background-color: rgba(0, 0, 0, 0.3) !important;
//     --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
// }
.my-custom-modal-css {
    --width: 60%;
    --height: 70%;
}

.content-padding {
    padding: 10px !important;
}

.day-input {
    border-bottom: solid 1px grey;
    width: 50%;
    text-align: center;
}

.reminder-div {
    display: flex;
    margin: 5px;
}