<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="/crm/quotation"></ion-back-button></ion-buttons>
    <ion-title class="ion-no-padding ion-text-uppercase">crm</ion-title>
    <ion-buttons slot="end"><ion-icon name="search"></ion-icon></ion-buttons>
    <ion-buttons slot="end" class="ion-padding-start"><ion-icon name="notifications-outline"></ion-icon></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs class="innerpagetabs">
  <ion-tab-bar slot="top">
      <ion-tab-button routerLink="/crm/contact"><ion-label>Contact</ion-label> </ion-tab-button>
      <ion-tab-button routerLink="/crm/enquiry"><ion-label>Enquiry Master</ion-label></ion-tab-button>
      <ion-tab-button routerLink="/crm/quotation" class="activetab"><ion-label>Quotation</ion-label></ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-content class="pages quotation">
  <div class="useritems">
    <div class="enquirylist" *ngFor="let data of quotationdata" routerLink="../quotation-details">
      <ion-label>
        <h6>{{data.qtnno}}</h6>
        <h5>{{data.quotation}}</h5>
        <p><small>{{data.location}}</small></p>
      </ion-label>
      <ion-label slot="end" class="endlabel">
        <strong>₹ {{data.price}}</strong>
        <p><small>{{data.quotate}}</small></p>
        <small>{{data.simpleno}}</small>
      </ion-label>
    </div>
  </div>
  <div class="addmore" routerLink="../addquotation"><ion-icon name="add-outline"></ion-icon> ADD</div>
</ion-content>