<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="/home"></ion-back-button></ion-buttons>
    <ion-title class="ion-no-padding ion-text-capitalize">{{cardtitle}}</ion-title>
    <ion-buttons slot="end"><ion-icon name="search"></ion-icon></ion-buttons>
      <ion-buttons class="filter ion-text-end" slot="end">
        <img src="assets/img/icons/Filter.svg">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="pages quotation">
  
    <app-cards-layout [card]="card" [data]="data"></app-cards-layout>

</ion-content>