<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()"><ion-back-button defaultHref="/home"></ion-back-button></ion-buttons>
    <ion-title class="ion-no-padding ion-text-capitalize">{{cardtitle}}</ion-title>
    <ion-buttons slot="end"><ion-icon name="search"></ion-icon></ion-buttons>
    <ion-buttons slot="end" class="ion-padding-start" (click)="comingSoon()"><ion-icon name="notifications-outline"></ion-icon></ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="menutab">
  <ion-slides>
    <ion-slide *ngFor="let cardItem of cardList; let i = index" (click)="showCardTemplate(cardItem, i)" [class.active]="selectedIndex == i"  [ngClass]="cardItem.sidebar_menu && cardItem.name !== 'CRM'?'ion-show':'ion-hide'">
      <ion-tab-button  ><ion-label>{{cardItem.name}}</ion-label> </ion-tab-button>
    </ion-slide>
  </ion-slides>
    <!-- <ion-tab-button routerLink="/crm/enquiry"><ion-label>Enquiry Master</ion-label></ion-tab-button>
    <ion-tab-button routerLink="/crm/quotation" class="active"><ion-label>Quotation</ion-label></ion-tab-button> -->
</div>

<ion-content class="pages quotation">

  <div class="filter ion-text-end">
    <ion-label (click)="openFilter=!openFilter"><ion-icon name="funnel"></ion-icon> Filter</ion-label>
  </div>

  <div id="ion_accordian" class="ion_accordian ion-no-padding filterdata" *ngIf="openFilter">
    <div [formGroup]="filterForm" >
      <div class="search_div ion-padding">
        <div *ngFor="let column of columnList; index as j" style="position: relative;">
          <div class="filteritem" *ngIf="column.type == 'text'" [ngClass]="column.filter?'ion-show':'ion-hide'" >
                <input type="checkbox" checked disabled>
                <ion-input class="ion-text-capitalize" [formControlName]="column.field_name" clearInput [placeholder]="column.field_label"></ion-input>
          </div>
        </div>
        <ion-buttons class="ion-padding-vertical ion-justify-content-around">
          <ion-button fill="outline" class="ion-text-capitalize" (click)="closefilterCard()">Close</ion-button>
          <ion-button fill="outline" class="ion-text-capitalize" (click)="clearfilterCard()">Clear</ion-button>
          <ion-button type="submit" fill="outline" class="ion-text-capitalize" (click)="filterCard()">Apply</ion-button>
        </ion-buttons>
      </div>
    </div>    
  </div>

  
  <div *ngIf="filterCount == 0" class="nodatafound">    
    <ion-img src="../../../assets/nodatafound.png"></ion-img>
    <p>Go Back or Try adjusting your filter.</p>
    <ion-button color="primary" fill="outline" size="small" (click)="clearfilterCard()">Go Back</ion-button>
  </div>
  <!-- <ion-list class="contactlist" >
    <ion-item-sliding *ngFor="let data of quotationdata" routerLink="../quotation-details">
        <ion-item>
          <ion-label>
            <h6>{{data.qtnno}}</h6>
            <h4>{{data.quotation}}</h4>
            <p><small>{{data.location}}</small></p>
          </ion-label>
          <ion-label slot="end" class="ion-text-end">
            
            <strong style="font-size:14px;">₹ {{data.price}}</strong>
            <p><small>{{data.quotate}}</small></p>
            <small>{{data.simpleno}}</small>
          </ion-label>
        </ion-item>
    </ion-item-sliding>
  </ion-list> -->

  <ion-list class="contactlist" *ngIf="cardType == 'summary'">
    <ion-item-sliding *ngFor="let card of carddata; index as i">
        <ion-item class="quotationlist">
          <ion-row class="ion-align-items-center inner_padding">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" class="ion-no-padding"  (click)="detailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)"></ion-button>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-list class="contactlist" *ngIf="cardType == 'report'">
    <ion-item-sliding *ngFor="let card of carddata; index as i">
        <ion-item class="quotationlist">
          <ion-row class="ion-align-items-center inner_padding">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" class="ion-no-padding"  (click)="detailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'email'" [innerHTML]="getValueForGrid(column,card)"></p>
              <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)"></ion-button>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-item>
    </ion-item-sliding>
  </ion-list>
  
  <ion-list class="contactlist" *ngIf="cardType == 'invoice'">
    <ion-item-sliding *ngFor="let card of carddata; index as i">
        <ion-item class="quotationlist">
          <ion-row class="ion-align-items-center inner_padding">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" class="ion-no-padding"  (click)="detailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'email'" [innerHTML]="getValueForGrid(column,card)"></p>
              <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)"></ion-button>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-list class="contactlist" *ngIf="cardType == 'contact' || cardType == 'crm'">
    <ion-item-sliding *ngFor="let card of carddata; index as i">
        <ion-item class="contactlist">
          <ion-avatar slot="start">El</ion-avatar>
          <ion-row class="ion-align-items-center inner_padding">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" class="ion-no-padding"  (click)="detailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" class="ion-text-end" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'" [innerHTML]="getValueForGrid(column,card)"></p>
              <ion-label><h5 [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></h5></ion-label>
              <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)"></ion-button>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="end" (click)="call(card,[i])"><ion-item-option><ion-icon name="call"></ion-icon></ion-item-option></ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list class="contactlist" *ngIf="cardType == 'order'">
    <ion-item-sliding *ngFor="let card of carddata; index as i">
        <ion-item class="quotationlist">
          <ion-row class="ion-align-items-center inner_padding">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" class="ion-no-padding"  (click)="detailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'email'" [innerHTML]="getValueForGrid(column,card)"></p>
              <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)"></ion-button>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-list class="contactlist" *ngIf="cardType == 'enquiry'">
    
    <ion-item-sliding *ngFor="let card of carddata; index as i">
        <ion-item class="quotationlist">
          <ion-row class="ion-align-items-center inner_padding">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" class="ion-no-padding"  (click)="detailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'"  [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'email'" [innerHTML]="getValueForGrid(column,card)"></p>
              <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)"></ion-button>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-item>
    </ion-item-sliding>
  </ion-list>

  <!-- <ion-segment class="crmtab" [(ngModel)]="selectTabs" >
    <ion-segment-button class="segment-button-checked" >
      <ion-label>&nbsp;Contact</ion-label>
      
    </ion-segment-button>
    <ion-segment-button class="segment-button-checked">
      <ion-label>&nbsp;Enquiry Master</ion-label>
    </ion-segment-button>
    <ion-segment-button class="segment-button-checked">
      <ion-label>&nbsp;Quotation</ion-label>
    </ion-segment-button>
  </ion-segment> -->
  <ion-list class="contactlist" *ngIf="cardType == 'neglected crm'">
    
    <ion-item-sliding *ngFor="let card of carddata; index as i" routerLink="/crm/EnquiryPage">
        <ion-item class="quotationlist">
          <ion-row class="ion-align-items-center inner_padding">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" class="ion-no-padding"  (click)="detailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'"  [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'email'" [innerHTML]="getValueForGrid(column,card)"></p>
              <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)"></ion-button>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="filterCount > 0">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  <!-- <div class="addmore" routerLink="../addquotation"><ion-icon name="add-outline"></ion-icon> ADD</div> -->
</ion-content>