<ion-header>
    <ion-toolbar>
        <a (click)="_dismiss()" slot="start">
            <ion-icon name="chevron-back-outline" size="large"></ion-icon>
        </a>

        <ion-title class="ion-text-center">Update Lead</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-start ion-padding-end">

    <ion-item lines="full">
        <ion-label position="floating">City</ion-label>
        <ion-input [(ngModel)]="modalData.city" (click)="searchCity()" readonly="true" placeholder="City"></ion-input>
    </ion-item>
    <ion-list>
        <ion-radio-group [(ngModel)]="modalData.location_type">
            <ion-list-header>
                <ion-label>
                    Location Type
                </ion-label>
            </ion-list-header>

            <ion-item>
                <ion-label>Rented </ion-label>
                <ion-radio color="medium" value="Rented"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Own</ion-label>
                <ion-radio value="Own" color="medium"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
    <ion-item lines="full">
        <ion-label position="floating">Business Experience (in months)</ion-label>
        <ion-input [(ngModel)]="modalData.buss_exp" type="number" placeholder="Business Experience (in months)"></ion-input>
    </ion-item>
    <ion-item lines="full">
        <ion-label position="floating">Plan to start (in months)</ion-label>
        <ion-input [(ngModel)]="modalData.plan_start" type="number" placeholder="Plan to start (in months)"></ion-input>
    </ion-item>
    <ion-item lines="full">
        <ion-label position="floating">Monthly Income Expected </ion-label>
        <ion-input [(ngModel)]="modalData.monthly_income" type="number" placeholder="Monthly Income Expected "></ion-input>
    </ion-item>


    <ion-row>
        <ion-col>
            <ion-button type="button" (click)="onSubmit()" [disabled]="!modalData.city" color="medium" expand="block">Save</ion-button>
        </ion-col>
    </ion-row>


</ion-content>