<ion-tabs>
    <ion-tab-bar color="medium" slot="bottom">
        <ion-tab-button tab="lead-calls">
            <ion-icon name="call"></ion-icon>
            <ion-label>Calls</ion-label>
            <!-- <ion-badge>6</ion-badge> -->
        </ion-tab-button>

        <!-- <ion-tab-button tab="lead-whatsapp">
            <ion-icon name="logo-whatsapp"></ion-icon>
            <ion-label>WhatsApp</ion-label>
        </ion-tab-button> -->
        <ion-tab-button tab="lead-sms">
            <ion-icon name="mail"></ion-icon>
            <ion-label>SMS</ion-label>
        </ion-tab-button>
        <!-- <ion-tab-button tab="lead-reminder">
            <ion-icon name="notifications-circle-outline"></ion-icon>
            <ion-label>Reminder</ion-label>
        </ion-tab-button> -->


    </ion-tab-bar>
</ion-tabs>