<div class="row" *ngIf="filteredDashboardData.length >0">
  <div class="" *ngFor="let item of filteredDashboardData; let j = index">
    <ion-card class="chartcard">
      <div class="card-header py-0 pr-2">
        <ion-card-header *ngIf="item.fields && item.fields.length > 0">
          <ion-card-title>{{item.name}}</ion-card-title>
        </ion-card-header>
        <!-- <div class="d-flex align-items-center justify-content-between" *ngIf="item.fields && item.fields.length >0">
          <ion-text class="m-0 charttitle">{{item.name}}</ion-text>
          <div>
            <button mat-icon-button (click)="filterModel(item,true)"><mat-icon style="font-size:15px;opacity:0.7;">filter_alt</mat-icon></button>
            <button mat-icon-button (click)="filterModel(item,false)"><mat-icon style="font-size:20px;opacity:0.7;">fullscreen</mat-icon></button>
          </div>
        </div> -->
      </div>
      <ion-card-content class="chartbody" >
        <ng-container *ngIf="chartType[item.call_back_field]">
          <canvas baseChart *ngIf="item.package_name == 'chart_js'" [chartType]="chartType[item.call_back_field]"
            [datasets]="chartDatasets[item.call_back_field]" [labels]="chartLabels[item.call_back_field]"
            [colors]="chartColors[item.call_back_field]" [options]="chartOptions[item.call_back_field]"
            [legend]="chartLegend[item.call_back_field]" >
          </canvas>
          <google-chart *ngIf="item.package_name == 'google_chart' && chartTitle[item.call_back_field]"
            [title]="chartTitle[item.call_back_field]" [type]="chartType[item.call_back_field]"
            [data]="chartDatasets[item.call_back_field]" [columns]="chartLabels[item.call_back_field]"
            [options]="chartOptions[item.call_back_field]">
          </google-chart>
        </ng-container>
        <!-- <div *ngIf="!chartType[item.call_back_field]" class="spinner">
          <mat-spinner diameter="40"  class="custom-spinner"></mat-spinner>
        </div> -->
      </ion-card-content>
    </ion-card>
  </div>
</div>
