.topPosition {
    margin-top: 120px;
}

.inputBg {
    padding: 5px 10px!important;
    border-bottom: solid 1px grey;
}

#divPosition {
    margin-top: 15px;
}

.bg {
    background-color: #dce0f3!important;
}

.box {
    width: 60%;
    height: 0;
    border-top: 100px solid #306DB5;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom: 121px solid #306DB5;
    border-bottom-right-radius: 213px;
}

.div-text {
    color: #ffff;
}

login-input {
    border-radius: 25px;
    border: 1px solid lightgray;
    --padding-start: 8px;
}

input-icon {
    color: #306DB5;
    right: 24px;
    position: absolute;
    font-size: 35px;
    z-index: 99999;
}

ion-item {
    border-radius: 30px !important;
    border: solid 1px #ffff;
    // background: #EBF0F3;
    padding: 15px;
}

.item-highlight {
    background: none;
}

.row {
    padding: 20px;
}

.signup {
    float: right;
    padding: 15px;
    font-size: 16px;
}

.ml-35{
    margin-left: 35px;
}
.warning{
    color: red;
}