// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.ion-invalid.ion-touched ion-label {
    color: var(--ion-color-danger);
}

.spinner-lines.sc-ion-loading-md,
.spinner-lines-small.sc-ion-loading-md,
.spinner-bubbles.sc-ion-loading-md,
.spinner-circles.sc-ion-loading-md,
.spinner-crescent.sc-ion-loading-md,
.spinner-dots.sc-ion-loading-md {
    color: #5167c5;
}

.row-padding {
    padding: 5px !important;
}

.font-bold {
    font-weight: bold !important;
}

.menu-grid-label {
    font-size: 14px;
    font-weight: 500;
}

.col-border {
    border-right: solid #f8d7d8 1px;
}

.row-box-shadow {
    box-shadow: 0 3px 6px 0 rgba(208, 44, 36, 0.2);
    background-color: #ffffff;
}

.icon-row {
    margin: 0px 10px;
}

.menu-footer {
    margin: 10px 0 10px;
}

.Rectangle-98 {
    // height: 75px;
    // margin: 0 0 8px;
    padding: 0 0 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 5%);
    background-color: #e30010;
}

.header-icon {
    margin: 8px 0px 0 0px !important;
}

.header-title {
    // width: 79px;
    margin: 8px 6px 0 10px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    display: inline-block;
    color: #ffffff;
}

.cart-icon {
    margin: 0px 11px !important;
}

.top-row-bg {
    background-color: #ffd5d7;
    padding: 6px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.down-icon {
    margin: 0 0 0 5px;
}

.header-bg {
    background-color: #ffd5d7;
}

.view-all-button {
    border-radius: 28px;
    box-shadow: 0 3px 6px 0 rgb(207 43 35 / 20%);
    background-color: #ffffff;
    // font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #e30010;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    --border-width: 0px;
    --border-style: none;
    min-height: 30px;
    text-transform: capitalize;
}

.add-cart-btn {
    height: 33px;
    font-size: 14px;
}

.picker-prefix,
.picker-suffix,
.picker-opt.picker-opt-selected {
    color: var(--ion-color-medium);
}

.picker-button.sc-ion-picker-md,
.picker-button.ion-activated.sc-ion-picker-md {
    color: var(--ion-color-medium);
}

.slide-card {
    height: 100%;
    margin: 10px 0px 10px 0px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgb(208 44 36 / 20%);
    background-color: #ffffff;
}

.card-product-name {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #606060;
}

.product-price {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #333333;
}

.text-line {
    text-decoration: line-through;
}

.discount {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #16d3da;
}

.add-cart-btn {
    height: 33px;
    font-size: 14px;
}

.main_content_div {
    width: 100%;
    .back_image {
        height: 150px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        ion-icon {
            font-size: 20px;
            color: white;
            position: absolute;
            right: 5px;
            top: 5px;
        }
    }
    ion-label {
        display: block;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        font-weight: 600;
    }
}

.Shop-By-Category {
    margin: 15px 0px 10px 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.16px;
    color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.cover_div {
    width: 100%;
    height: 275px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .overlay {
        width: 100%;
        height: 275px;
        background: rgb(163 53 53 / 40%);
    }
    .user_image {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
    }
    .detail_div {
        position: absolute;
        width: 100%;
        top: 50%;
        .username {
            color: white;
            font-weight: 500;
            text-align: center;
            font-size: 16px;
        }
        .location {
            color: white;
            text-align: center;
            margin-top: 5px;
            letter-spacing: 1px;
            font-weight: 600;
        }
    }
    .flex_div {
        color: white;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 30px;
        ion-label {
            text-align: center;
        }
        .bold {
            font-weight: 600;
            margin-bottom: 10px;
        }
    }
}

.cart-badge {
    position: absolute;
    right: 6px;
    top: -3px;
    border-radius: 50%;
}

.call-btn {
    text-transform: capitalize;
    font-size: 10px;
    box-shadow: none;
    width: 80%;
}

.line {
    border-top: solid 1px #c0c0c0;
}

.custom-loader {
    --background: transparent;
    ion-backdrop {
        background-color: #686868;
        opacity: .9 !important;
    }
    .loading-wrapper {
        -webkit-animation: ld-loader-out 2s ease-out infinite;
        animation: ld-loader-out 2s ease-out infinite;
        animation-timing-function: cubic-bezier(0.05, 0, 3, 0.05);
        background-image: url("/assets/logo.png");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        min-width: 90px;
        min-height: 90px;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
}

@keyframes ld-loader-out {
    0% {
        -webkit-transform: rotate(0deg) scale(0);
        transform: rotate(0deg) scale(0);
        opacity: 1;
    }
    60% {
        -webkit-transform: rotate(1800deg) scale(1);
        transform: rotate(1800deg) scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(1800deg) scale(1);
        transform: rotate(1800deg) scale(1);
        opacity: 0;
    }
}

@-webkit-keyframes ld-loader-out {
    0% {
        -webkit-transform: rotate(0deg) scale(0);
        transform: rotate(0deg) scale(0);
        opacity: 1;
    }
    60% {
        -webkit-transform: rotate(1800deg) scale(1);
        transform: rotate(1800deg) scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(1800deg) scale(1);
        transform: rotate(1800deg) scale(1);
        opacity: 0;
    }
}