<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="dismissModal([])"><ion-icon name="arrow-back-outline"></ion-icon></ion-buttons>
    <ion-title class="ion-no-padding ion-text-capitalize"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pages">
  <ion-card *ngFor="let data of gridData; let i = index">
    <ion-item>
      <ion-checkbox *ngIf="grid_row_selection" color="secondary" checked slot="start" (click)="$event.stopPropagation()" (ionChange)="$event ? toggle(data, $event, i) : null" [checked]="data.selected" ></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-icon name="information-circle-outline" slot="end" (click)="addremoveparticipant(data)"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
    </ion-item> 
  </ion-card>
  <span > 
    <ion-button type="button"  (click)="selectGridData()" color="primary" [disabled]="checkValidator()" expand="block">{{ field.label }}</ion-button>          
  </span>  
</ion-content>