<!-- <ion-header class="">
  <ion-toolbar class="ion-background-white">
    <ion-buttons slot="start" (click)="goBack()"><ion-back-button defaultHref="/home"></ion-back-button></ion-buttons>
    <ion-title class="ion-no-padding ion-text-capitalize">{{cardtitle}}</ion-title>
    <ion-buttons slot="end"><ion-icon name="search"></ion-icon></ion-buttons>
      <ion-buttons class="filter ion-text-end" slot="end" (click)="openFilter=!openFilter">
        <img src="assets/img/icons/Filter.svg">
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<div class="menutab">
  <ion-segment *ngIf="tabMenu && tabMenu.length > 0" >
    <ion-segment-button *ngFor="let tabItem of tabMenu; let i = index" (click)="tabmenuClick(i)" [class.segment-button-checked]="selectedIndex == i"  [ngClass]="" value="{{tabItem.name}}" ><ion-label>{{tabItem.name}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</div>

<ion-content class="contactlist">
 <ion-list class="contactlist" *ngIf="cardType == 'summary'">
    <ion-item-sliding *ngFor="let card of carddata; index as i">
        <ion-item class="quotationlist" lines="none">
          <ion-row class="ion-align-items-center inner_padding">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" class="ion-no-padding"  (click)="modaldetailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              
              <div class="ion-text-end status_button">
                <div *ngIf="card.quotation_status">
                  <ion-button [ngClass]="card.quotation_status ? 'status_' + card.quotation_status : 'default-status'" *ngIf="column.type == 'button' && card.quotation_status" [innerHTML]="getValueForGrid(column,card)">
                  </ion-button>
                </div>
                <div *ngIf="card.order_status">
                  <ion-button [ngClass]="card.order_status ? 'status_' + card.order_status : 'default-status'" *ngIf="column.type == 'button' && card.order_status" [innerHTML]="getValueForGrid(column,card)">
                  </ion-button>
                </div>
                <div *ngIf="card.invoicing_status">
                  <ion-button [ngClass]="card.invoicing_status ? 'status_' + card.invoicing_status : 'default-status'" *ngIf="column.type == 'button' && card.invoicing_status" [innerHTML]="getValueForGrid(column,card)">
                  </ion-button>
                </div> 

                <div *ngIf="card.status && !card.quotation_status && !card.order_status && !card.invoicing_status">
                  <ion-button [ngClass]="card.status ? 'status_' + card.status : 'default-status'" *ngIf="column.type == 'button' && card.status" [innerHTML]="getValueForGrid(column,card)">
                  </ion-button>
                </div>

                <div *ngIf="column.class_name">
                <ion-button [ngClass]="column.class_name ? 'column.class_name'  : ''" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)"></ion-button>
                  </div>
              </div>

              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option *ngIf="addCallingFeature" (click)="call(card, i)"><ion-icon slot="icon-only" name="call"></ion-icon></ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option *ngIf="addNewEnabled" (click)="editedRow(card, i)"><ion-icon slot="icon-only" name="pencil"></ion-icon></ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- <ion-list class="contactlist" *ngIf="cardType == 'report'">
    <ion-item-sliding *ngFor="let card of carddata; index as i">
        <ion-item class="quotationlist" lines="none">
          <ion-row class="ion-align-items-center inner_padding">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" class="ion-no-padding"  (click)="detailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'email'" [innerHTML]="getValueForGrid(column,card)"></p>
              <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)"></ion-button>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="end" >
          <ion-item-option *ngIf="addNewEnabled" (click)="editedRow(card, i)"><ion-icon slot="icon-only" name="pencil"></ion-icon></ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->

  <!-- <ion-list class="contactlist" *ngIf="cardType == 'invoice'">
    <ion-item-sliding *ngFor="let card of carddata; index as i">
        <ion-item class="quotationlist" lines="none">
          <ion-row class="ion-align-items-center inner_padding">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" class="ion-no-padding"  (click)="detailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'email'" [innerHTML]="getValueForGrid(column,card)"></p>

              <div class="ion-text-end">

                <ion-button [ngClass]="
                {
                  'completed-status':card.status == 'COMPLETED', 
                  'new-status':card.status == 'NEW', 
                  'approved-status':card.status == 'APPROVED', 
                  'regret-status':card.status == 'REGRET',
                  'inactive-status':card.status == 'Inactive',
                  'column.class_name':column.class_name !=''
                }" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)">
                </ion-button>

                <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)"></ion-button>
              
              </div>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option (click)="callInvoice(card, i)"><ion-icon slot="icon-only" name="call"></ion-icon></ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option *ngIf="addNewEnabled" (click)="editedRow(card, i)"><ion-icon slot="icon-only" name="pencil"></ion-icon></ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->

  <ion-list class="contactlist" *ngIf="cardType == 'contact'">
    <ion-item-sliding *ngFor="let card of carddata; index as i">
        <ion-item class="contactlist" lines="none">
          <ion-avatar slot="start" class="ion-text-uppercase"><span *ngIf="card.first_name != ''" [innerHTML]="getFirstCharOfString(card.first_name)"></span></ion-avatar>
          <ion-row class="ion-align-items-center inner_padding" *ngIf="columnList && columnList.length > 0">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" class="ion-no-padding"  (click)="detailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" class="ion-text-end" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'" [innerHTML]="getValueForGrid(column,card)"></p>
              <ion-label><h5 [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></h5></ion-label>
              <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)"></ion-button>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="start" >
          <ion-item-option *ngIf="addCallingFeature" (click)="call(card, i)"><ion-icon slot="icon-only" name="call"></ion-icon></ion-item-option>
        </ion-item-options>
        <ion-item-options side="end" >
          <ion-item-option *ngIf="addNewEnabled" (click)="editedRow(card, i)"><ion-icon slot="icon-only" name="pencil"></ion-icon></ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- <ion-list class="contactlist" *ngIf="cardType == 'order'">
    <ion-item-sliding *ngFor="let card of carddata; index as i">
        <ion-item class="quotationlist" lines="none">
          <ion-row class="ion-align-items-center inner_padding">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" class="ion-no-padding"  (click)="detailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'email'" [innerHTML]="getValueForGrid(column,card)"></p>

              <div class="ion-text-end">

                <ion-button [ngClass]="
                {
                  'completed-status':card.order_status == 'COMPLETED', 
                  'booked-status':card.order_status == 'BOOKED', 
                  'dispatching-status':card.order_status == 'DISPATCHING', 
                  'review-status':card.order_status == 'REVIEW',
                  'scheduling-status':card.order_status == 'SCHEDULING',
                  'person_incharge-status':card.order_status == 'PERSON_INCHARGE',
                  'testing-status':card.order_status == 'TESTING',
                  'invoicing-status':card.order_status == 'INVOICING',
                   'column.class_name' : card.order_status != ''
                }" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)">
                </ion-button>
              </div>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option *ngIf="addNewEnabled" (click)="editedRow(card, i)"><ion-icon slot="icon-only" name="pencil"></ion-icon></ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->

  <!-- <ion-list class="contactlist" *ngIf="cardType == 'enquiry'">
    
    <ion-item-sliding *ngFor="let card of carddata; index as i">
        <ion-item class="quotationlist" lines="none">
          <ion-row class="ion-align-items-center inner_padding">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" class="ion-no-padding"  (click)="detailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'"  [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'email'" [innerHTML]="getValueForGrid(column,card)"></p>
              <div class="ion-text-end">
                <ion-button [ngClass]="
                {
                  'active-status':card.status == 'Active', 
                  'new-status':card.status == 'New', 
                  'move-to-qutation-status':card.status == 'Move to Quotation', 
                  'regret-status':card.status == 'Regret',
                  'column.class_name':column.class_name !=''
                }" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)">
                </ion-button>
              </div>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="end" >
          <ion-item-option *ngIf="addNewEnabled" (click)="editedRow(card, i)"><ion-icon slot="icon-only" name="pencil"></ion-icon></ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->

  <!-- <ion-list class="contactlist" *ngIf="cardType == 'customerpo'">    
    <ion-item-sliding *ngFor="let card of carddata; index as i">
        <ion-item class="quotationlist" lines="none">
          <ion-row class="ion-align-items-center inner_padding">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" class="ion-no-padding"  (click)="detailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'"  [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'email'" [innerHTML]="getValueForGrid(column,card)"></p>

              <div class="ion-text-end">

                <ion-button [ngClass]="
                {
                  'active-status':card.status == 'Active', 
                  'new-status':card.status == 'New', 
                  'move-to-qutation-status':card.status == 'Move to Quotation', 
                  'regret-status':card.status == 'Regret',
                  'column.class_name':column.class_name !=''
                }" *ngIf="column.type == 'button'" [innerHTML]="getValueForGrid(column,card)">
                </ion-button>
              </div>

              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="end" >
          <ion-item-option *ngIf="addNewEnabled" (click)="editedRow(card, i)"><ion-icon slot="icon-only" name="pencil"></ion-icon></ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->

  <!-- <div class="addmore" (click)="addNew()" *ngIf="addNewEnabled">
    <ion-icon name="add-outline"></ion-icon>
  </div> -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="addNewEnabled">
    <ion-fab-button (click)="addNew()" class="addNew" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngIf="filterCount == 0" class="nodatafound">    
    <ion-img src="../../../assets/nodatafound.png"></ion-img>
  </div>

</ion-content>