<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button><img src="assets/img/icons/menu.svg"></ion-menu-button>
        </ion-buttons>
        <ion-searchbar show-cancel-button="focus" [debounce]="1000" enterkeyhint="search" inputmode="search" [(ngModel)]="myInput" (ionChange)="search()"></ion-searchbar>
        <ion-buttons *ngIf="notification" slot="end" (click)="comingSoon()"><img src="assets/img/icons/bell-Bold.svg"></ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="pages">
    <!-- <div class="banner">
        <swiper [slidesPerView]="1" [pagination]="true" [spaceBetween]="0" [autoplay]="true" [loop]="true" [centeredSlides]="true" class="mySwiper">
            <ng-template swiperSlide *ngFor="let banner of banner_img"><img  [src]="banner"></ng-template>
        </swiper>
    </div> -->

    <div class="banner">
        <ion-slides>
            <ion-slide swiperSlide *ngFor="let banner of banner_img">
                <div class="slideshow"><img [src]="banner"></div>
                <!-- <ng-template swiperSlide *ngFor="let banner of banner_img">
                    <div class="slideshow"><img [src]="banner"></div>
                </ng-template> -->
            </ion-slide>
        </ion-slides>
    </div>


    <div class="catlist">

        <ion-grid *ngIf="!onlyiconsList">
            <ion-row>
                <ion-col size="6" *ngFor="let cardItem of cardList; let i = index" (click)="showCardTemplate(cardItem, i)" [class.selected]="selectedIndex == i" [ngClass]="cardItem.home_icon_menu?'ion-show':'ion-hide'">
                    <div class="homecard">
                        <ion-avatar><img [src]="cardItem.image_src"></ion-avatar>
                        <ion-label>{{cardItem.name}}</ion-label>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ul *ngIf="onlyiconsList">
            <li *ngFor="let cardItem of cardList; let i = index" (click)="showCardTemplate(cardItem, i)"
                [class.selected]="selectedIndex == i" [ngClass]="cardItem.home_icon_menu?'ion-show':'ion-hide'">
                <div class="caticon">
                    <!-- <ion-img [src]="cardItem.image_src"></ion-img> -->
                    <img [src]="cardItem.image_src">
                </div>
                <span>{{cardItem.name}}</span>
            </li>
        </ul>

        <div *ngIf="cardList == null" class="">
            <ion-card>
                <!-- <div class="ion-text-center"><img alt="No Modules Assign" *ngIf="nodatafoundImg" [src]="nodatafoundImg" /> </div>-->
                <ion-card-header>
                  <ion-card-title>No module assign</ion-card-title>
                  <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
                </ion-card-header>              
                <ion-card-content>
                    Permission error, No Module Found !
                </ion-card-content>
                <ion-button color="primary" fill="clear" size="small" (click)="getGridData()">Try again</ion-button>
            </ion-card>
        </div>
        <div *ngIf="cardList != null && cardList && cardList.length == 0" class="">
            <ion-card>
                <ion-card-header>
                  <ion-card-title>No matching element found</ion-card-title>
                  <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
                </ion-card-header>              
                <ion-card-content>
                    Try again by adjusting your search value!
                </ion-card-content>
            </ion-card>
        </div>
        
    </div>
</ion-content>