.magrinPading{padding: 5px;  width: 100%!important; border:1px solid #5167c5;  border-radius: 10px; margin-bottom: 10px;}
a{text-decoration: none; color:#181e3b;}
.cardbox{width: 95%; border:1px solid #cccccc; margin: 10px 0px 15px 0px;
border-radius: 15px; background: url('/assets/005.png') no-repeat 100%;}
.cardbox2{width: 95%; border:1px solid #cccccc; margin: 10px 0px 15px 0px;
    border-radius: 15px;background: url('/assets/003.png') no-repeat; padding-bottom: 40px;}
.cardbox3{width: 95%; border:1px solid #cccccc; margin: 10px 0px 15px 0px;
        border-radius: 15px; background: url('/assets/004.png') no-repeat;}
.cardbox4{ width: 95%; height:200px; border:1px solid #cccccc; margin: 10px 0px 15px 0px; padding: 15px;
            border-radius: 15px;background: url('/assets/Bg_17.png') repeat; background-size: contain;}
.divsize{font-size:14px!important; color:#000000;}
.textright {text-align: right;}
.h2Today{color:#ffffff!important; font-weight: bold; font-size: 22px!important;}
.h2Total{color:#ffffff; font-weight: bold; font-size: 22px!important; margin-top: 20px!important;}
.top{ color:black; font-size: 20px; font-weight: bold;}
.divToday{color:#008000!important; font-weight: bold; margin: 5px 0px 5px 0px; font-size: 14px;}
.cardstyle{padding: 15px!important; margin: 10px 5px 10px 5px!important; background-color: #edeff9!important;}
.maintop{margin-top: 20px; font-size: 22px; font-weight: bold;}
.dummy{margin-top: 20px; font-style: italic; font-weight: bold;}
.dummy1{ margin-bottom: 8px; font-style: italic; font-weight: bold;}
.smallBox{background-color:#ff0000; color: white; padding: 10px; width: 60%; margin-left: 20%!important;border-radius: 10px;}
.bg_01{background-color: #ec5a82;}
.bg_02{background-color: #a675cc;}
.bg_03{background-color: #f49e8f;}
.bg_04{background-color: #71c39b;}
.bg_05{background-color: #8fd9db;}
.bg_06{background-color: #cb77e1;}
