<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="crm/contact"></ion-back-button></ion-buttons>
    <ion-title class="ion-no-padding ion-text-uppercase">Amit Tomer</ion-title>
    <ion-buttons slot="end"><ion-icon name="search"></ion-icon></ion-buttons>
    <ion-buttons slot="end" class="ion-padding-start"><ion-icon name="notifications-outline"></ion-icon></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="pages">
  <div class="contactprofile">
      <div class="profileicon">AT</div>
       <h3>Amit Tomer</h3>
       <p>Project Manager</p>
    </div>

   <div class="contactdetails">
    <div class="menutab">
       <ion-tab-button routerLink="/crm/contact-details"><ion-label>Enquiry</ion-label> </ion-tab-button>
       <ion-tab-button routerLink="/crm/contact-quotation" class="active"><ion-label>Quotation</ion-label></ion-tab-button>
       <ion-tab-button><ion-label>Call History</ion-label></ion-tab-button>
       <ion-tab-button><ion-label>Notes</ion-label></ion-tab-button>
    </div>
    <div class="">
      <div class="enquirylist" *ngFor="let data of quotationdata" routerLink="../quotation-details">
        <ion-label>
          <small>{{data.qtnno}}</small>
          <h5>{{data.quotation}}</h5>
          <p><small>{{data.location}}</small></p>
        </ion-label>
        <ion-label slot="end" class="endlabel">
          <strong>₹ {{data.price}}</strong>
          <p><small>{{data.quotate}}</small></p>
          <small>{{data.simpleno}}</small>
        </ion-label>
      </div>
    </div>
    <div class="addmore" routerLink="../addquotation"><ion-icon name="add-outline"></ion-icon> ADD</div>
  </div>
</ion-content>
