<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button text="" defaultHref="home4"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding ion-text-uppercase" [routerLink]="['/home4']" routerLinkActive="router-link-active" >{{cardtitle}}</ion-title>
  </ion-toolbar>
  <!--<ion-searchbar [(ngModel)]="myInput" (ionInput)="search(myInput)" (ionChange)="onChangeValue(myInput)" (ionClear)="onClose(myInput)" showCancelButton="focus" value="Search Company Name" autocomplete="on" autocorrect="on"></ion-searchbar> -->
</ion-header>

<ion-content class="pages">
  
  <ion-row>
    <ion-col class="ion-no-padding">
      <ion-item>
        <ion-label (click)="openFilter=!openFilter" class="">Filter
          <ion-icon name="chevron-down-outline" class="ion-float-end"></ion-icon>
        </ion-label>		
      </ion-item>
    </ion-col>
  </ion-row>

  <div id="ion_accordian" class="ion_accordian ion-no-padding" *ngIf="openFilter">
    <div [formGroup]="filterForm" >
      <div class="search_div ion-padding">
        <div *ngFor="let column of columnList; index as j" style="position: relative;">
          <div  *ngIf="column.type == 'text'" [ngClass]="column.filter?'ion-show':'ion-hide'" >
          <input type="checkbox" checked>
          <i></i>
          <h2>{{column.field_label}}</h2>
          <div class="input_div">
            <ion-input [formControlName]="column.field_name" clearInput placeholder="Search Here"></ion-input>
          </div>
          </div>
        </div>
        <ion-buttons class="ion-padding-vertical ion-justify-content-around">
          <ion-button fill="outline" size="" color="tertiary" shape="round" class="ion-text-capitalize" (click)="closefilterCard()">Close</ion-button>
          <ion-button type="submit" fill="outline" size="" color="tertiary" shape="round" class="ion-text-capitalize" (click)="filterCard()">Apply</ion-button>
        </ion-buttons>
      </div>
    </div>    
  </div>

  <!-- get below data from local json -->
  <ion-grid>
       
    <ion-row *ngIf="cardType == 'summary'" >
      <ion-col size="12" *ngFor="let card of carddata; index as i">
        <ion-card class="ion-padding-horizontal record_info" >
          <ion-row class="ion-align-items-center">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button'" color="medium" fill="outline" size="small" (click)="detailCardButton(column,card)" [innerHTML]="getValueForGrid(column,card)"></ion-button>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="cardType == 'report'" >
      <ion-col size="12" *ngFor="let card of carddata; index as i">
        <ion-card class="ion-padding-horizontal record_info">
          <ion-row class="ion-align-items-center">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size" (click)="detailCardButton(column,card)">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'email'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button'" color="medium" fill="outline" size="small"  [innerHTML]="getValueForGrid(column,card)"></ion-button>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="cardType == 'test'" >
      <ion-col size="12" *ngFor="let card of carddata; index as i">
        <ion-card class="ion-padding-horizontal record_info">
          <ion-row class="ion-align-items-center">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'email'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button'" color="medium" fill="outline" size="small" [innerHTML]="getValueForGrid(column,card)"></ion-button>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- <ion-infinite-scroll threshold="20px" position="bottom" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more cards...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->

    <!-- new card -->
    
    <!-- <ion-row *ngIf="cardType == 'detail1'" >
      <ion-col size="12" >
        <ion-card class="ion-padding-horizontal record_info" >
          <ion-row class="ion-align-items-center">
            <ion-col *ngFor="let column of columnList; index as j" [size]="column.column_size">
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'number'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'text'" [innerHTML]="getValueForGrid(column,card)"></p>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'currency'" [innerHTML]="getValueForGrid(column,card)"></p>
              <ion-button [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'button'" color="medium" fill="outline" size="small" (click)="detailCardButton(column,card)" [innerHTML]="getValueForGrid(column,card)"></ion-button>
              <p [ngClass]="column.class_name ? column.class_name  : ''" *ngIf="column.type == 'date' || column.type == 'datetime'" [innerHTML]="getValueForGrid(column,card)"></p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row> -->


    
  </ion-grid>


</ion-content>
