<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="dismissModal({})"><ion-icon name="arrow-back-outline"></ion-icon></ion-buttons>
    <ion-title class="ion-no-padding ion-text-capitalize"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pages">
  
  <div class="contactdetails" *ngIf="cardType == 'demo1'">   
    <p class="enquerylist" *ngFor="let column of columnList">
      <span [title]="column.label">{{column.label}}: -</span>
      <strong [innerHtml]="getValueForGrid(column,data)"></strong>
    </p>
  </div>
  <span > 
    <ion-button type="button"  (click)="select()" color="primary" expand="block">Add</ion-button>          
  </span> 

</ion-content>